<template>
    <div class="container">
        <div class="ta-left mt-5 mb-5">
            
            <!-- overlay da una imagen de espera mientras se cargan los datos -->
            <b-overlay :show="showOverlay" rounded="sm">
                
                <!-- mostrar rutas en base a variable breadcrumbs -->
                <b-icon-house></b-icon-house>
                <b-breadcrumb class="inline-flex main-route">
                        <b-breadcrumb-item 
                            v-bind:class="{ active: breadcrumb.active }"
                            v-bind:key="breadcrumb" 
                            v-for="breadcrumb in breadcrumbs" 
                            v-on:click="updateListsToShowByNavegation(breadcrumb.level, breadcrumb.array_index)"
                        >
                    
                        {{breadcrumb.text}}
                    </b-breadcrumb-item>
                </b-breadcrumb>
                
                <!-- buscador -->
                <div v-if="!showContent">
                    <b-form-group class="mb-0">
                        <b-input-group size="sm">

                            <b-input-group-append>
                                <b-button class="second-background-color bd-none">
                                    <b-icon-search></b-icon-search>
                                </b-button>
                            </b-input-group-append>
                            
                            <b-form-input
                                v-model="searchInfo"
                                type="search"
                                id="filteredList"
                                placeholder="Buscar..."
                            ></b-form-input>

                        </b-input-group>
                    </b-form-group>
                </div>
                
                <!-- Condicional en base de variable showContent -->
                <!-- listado de categorias -->
                <ul v-if="!showContent" class="mt-4" style="padding-left:32px;">
                    <li  class="mb-3" v-bind:key="listToShow" v-for="(listToShow, array_index) in filteredList" >
                        <a style="cursor:pointer;" v-on:click="updateListsToShowByNavegation(listToShow.level, array_index)">{{listToShow.name}}</a>
                    </li>
                </ul>
                
                <div v-else>
                    <h2 class="title-content">
                        {{infoTitle}}
                    </h2>
                    <div class="info-content" v-html="infoContent">
                    </div>
                </div>
                <!-- Condicional en base de variable showContent -->

            </b-overlay>
        </div>

        <div class="mt-2">
            
        </div>
    </div>
</template>

<script>
// importing and configuring base axios
import  axiosApi from 'axios'
window.axios = axios
const axios = axiosApi.create({
    // declaring base api url from .env file
    baseURL: process.env.VUE_APP_DEV_API_HOST
})

export default {
    name: "BaseInfos", // nombre de componente al exportar
    data () {
        return {
            // variable que maneja las rutas
            // Rutas al comenzar siempre en inicio
            breadcrumbs: [
                {
                    text: 'Inicio',
                    level: '',
                    array_index: '',
                    active: true
                }
            ],

            
            searchInfo: '', // maneja la busqueda dentro de info
            showOverlay: true, // maneja cuando se muestra el overlay
            showContent: false, // maneja el cambio entre rutas y contenido
            
            infoTitle: '', // titulo de info
            infoContent: '', // contenido del contenido mostrado en html
            
            // variables se guardan para manejar la navegacion dentro de la funcion:
            // updateListsToShowByNavegation
            categoryIndex: '',
            subCategoryIndex: '',
            solutionIndex: '',
            
            // maneja el cambio de nivel en funcion:
            // updateListsToShowByNavegation
            listsToShow: {},
            
            // guarda el request hecho en la funcion:
            // GetBaseInfos
            BaseInfos: {},
        }
    },
    computed: {
        // funcion que maneja el filtro de info
        filteredList() {
            return this.listsToShow.filter( list => {
                return list.name.toLowerCase().includes(this.searchInfo.toLowerCase())
            })
        }
    },
    methods: 
    {
        // funcion que maneja la navegacion del componente en base a un nivel y un arreglo pre-establecido
        // leer mas sobre el componente en la carpeta documentation
        updateListsToShowByNavegation (level, array_index) {
            switch (level) {
                case 'category':
                    
                    this.categoryIndex = array_index
                    this.listsToShow = this.BaseInfos[array_index].sub_categories
                    this.showContent = false

                    this.updateBreadcrumbs(level, array_index)
                    break

                case 'sub_category':
                    this.subCategoryIndex = array_index
                    this.listsToShow = this.BaseInfos[this.categoryIndex].sub_categories[this.subCategoryIndex].solutions
                    this.showContent = false

                    this.updateBreadcrumbs(level, array_index)
                    break;

                case 'solution':
                    this.solutionIndex = array_index
                    this.listsToShow = this.BaseInfos[this.categoryIndex].sub_categories[this.subCategoryIndex].solutions[array_index]

                    this.infoTitle = this.listsToShow.name
                    this.infoContent = this.listsToShow.content
                    
                    this.showContent = true
                    this.updateBreadcrumbs(level, array_index)
                    break;

                default:
                    this.categoryIndex = ''
                    this.subCategoryIndex = ''
                    this.solutionIndex = ''
                    this.showContent = false
                    this.listsToShow = this.BaseInfos
                    this.updateBreadcrumbs(level, array_index)
                    break
            }
        },

        // funcion que actualiza las rutas a mostrar del componente en base de un nivel y un arreglo
        // leer mas sobre el componente en la carpeta documentation
        updateBreadcrumbs (level,array_index) {
            let newBreadcrumb

            switch (level) 
            {
                case 'category':
                    if (!this.breadcrumbs[1]) 
                    {
                        this.breadcrumbs[0].active = false
                        newBreadcrumb = {
                            text: this.BaseInfos[array_index].name,
                            level: level,
                            array_index: array_index,
                        }
                        this.breadcrumbs.push(newBreadcrumb)

                    }
                    this.breadcrumbs[1].active = true
                    this.breadcrumbs.splice(3,1)
                    this.breadcrumbs.splice(2,1)

                    break

                case 'sub_category':
                    if (!this.breadcrumbs[2]) 
                    {
                        this.breadcrumbs[1].active = false
                        newBreadcrumb = {
                            text: this.BaseInfos[this.categoryIndex].sub_categories[array_index].name,
                            level: level,
                            array_index: array_index,
                        }
                        this.breadcrumbs.push(newBreadcrumb)
                        
                        console.log(this.breadcrumbs[3])
                    }
                    this.breadcrumbs[2].active = true
                    this.breadcrumbs.splice(3,1)
                    break;

                case 'solution':
                    if (!this.breadcrumbs[3]) 
                    {
                        this.breadcrumbs[2].active = false
                        newBreadcrumb = {
                            text: this.BaseInfos[this.categoryIndex].sub_categories[this.subCategoryIndex].solutions[array_index].name,
                            level: level,
                            array_index: array_index,
                        }
                        
                        this.breadcrumbs.push(newBreadcrumb)
                    }
                    this.breadcrumbs[3].active = true 
                    break;

                default:
                    this.breadcrumbs.splice(3,1)
                    this.breadcrumbs.splice(2,1)
                    this.breadcrumbs.splice(1,1)

                    this.breadcrumbs[0].active = true
                    break
            }
            
        },
        
        // funcion que obtiene los datos desde ocasa-tickets-api
        // leer mas sobre el componente en la carpeta documentation
        GetBaseInfos () {
            axios.get('/api/freshdesk/BaseDeConocimiento')
            .then(response => {
                this.BaseInfos = response.data
                this.updateListsToShowByNavegation('','')
                this.showOverlay = false
            })
        }
    },
    created () {
        // metodos a correr apenas se crea carga la pagina
        this.GetBaseInfos()
    }
}
</script>