<template>
    <div>

        <b-sidebar id="sidebar-2" title="Filtros" class="filters" shadow no-header>

            <div class="p-3">

                <b-row>
                    <!-- titulo del sidebar -->
                    <b-col>
                        <h4 id="sidebar-no-header-title" class="ta-left fw-bold" >Filtros</h4>
                    </b-col>

                </b-row>

                <b-card no-body class="mb-1 bd-none">
                    <b-card-header header-tag="header" class="p-1 bg-white bd-none bb-1 bb-1-solid-ccc" role="tab">
                        <b-button block href="#" v-b-toggle.accordion-1 variant="info" class="bg-white bd-none filter-button-1 p-0"  @click="dropdownTicket = !dropdownTicket">
                            Ticket
                        </b-button>

                        <div class="filter-button-2" v-b-toggle.accordion-1 @click="dropdownTicket = !dropdownTicket">
                            <img v-if="!dropdownTicket" src="@/assets/icons/triangle-copy-8@2x.png"/>
                            <img v-else src="@/assets/icons/triangle-copy-11@2x.png"/>
                        </div>
                    </b-card-header>

                    <b-collapse id="accordion-1" role="tabpanel">
                        <b-card-body class="px-0">
                            <b-card-text >
                                <b-form-input
                                    id="input-12"
                                    placeholder="Nro Ticket"
                                    v-model="filterData.filtersValue.ticket"
                                    @keyup="filterChange"
                                ></b-form-input>
                            </b-card-text>
                        </b-card-body>
                    </b-collapse>
                </b-card>

                <b-card no-body class="mb-1 bd-none">
                    <b-card-header header-tag="header" class="p-1 bg-white bd-none bb-1 bb-1-solid-ccc" role="tab">
                        <b-button block href="#" v-b-toggle.accordion-2 variant="info" class="bg-white bd-none filter-button-1 p-0" @click="dropdownOperator = !dropdownOperator">
                            Operador
                        </b-button>

                        <div class="filter-button-2" v-b-toggle.accordion-2 @click="dropdownOperator = !dropdownOperator">
                            <img v-if="!dropdownOperator" src="@/assets/icons/triangle-copy-8@2x.png"/>
                            <img v-else src="@/assets/icons/triangle-copy-11@2x.png"/>
                        </div>
                    </b-card-header>

                    <b-collapse id="accordion-2" role="tabpanel">
                        <b-card-body class="px-0">
                            <b-card-text >
                                <b-form-input
                                    id="input-12"
                                    placeholder="Nombre Operador"
                                    v-model="filterData.filtersValue.Operador"
                                    @keyup="filterChange"
                                ></b-form-input>
                            </b-card-text>
                        </b-card-body>
                    </b-collapse>
                </b-card>

                <b-card no-body class="mb-1 bd-none">
                    <b-card-header header-tag="header" class="p-1 bg-white bd-none bb-1 bb-1-solid-ccc" role="tab">
                        <b-button block href="#" v-b-toggle.accordion-3 variant="info" class="bg-white bd-none filter-button-1 p-0" @click="dropdownChannel = !dropdownChannel">
                            Canal
                        </b-button>

                        <div class="filter-button-2" v-b-toggle.accordion-3 @click="dropdownChannel = !dropdownChannel">
                            <img v-if="!dropdownChannel" src="@/assets/icons/triangle-copy-8@2x.png"/>
                            <img v-else src="@/assets/icons/triangle-copy-11@2x.png"/>
                        </div>
                    </b-card-header>

                    <b-collapse id="accordion-3" role="tabpanel">
                        <b-card-body class="px-0">
                            <b-card-text >
                                <b-form-input
                                    id="input-12"
                                    placeholder="Nombre Canal"
                                    v-model="filterData.filtersValue.Canal"
                                    @keyup="filterChange"
                                ></b-form-input>
                            </b-card-text>
                        </b-card-body>
                    </b-collapse>
                </b-card>

                <b-card no-body class="mb-1 bd-none">
                    <b-card-header header-tag="header" class="p-1 bg-white bd-none bb-1 bb-1-solid-ccc" role="tab">
                        <b-button block href="#" v-b-toggle.accordion-4 variant="info" class="bg-white bd-none filter-button-1 p-0" @click="dropdownDates = !dropdownDates">
                            Fecha creación
                        </b-button>

                        <div class="filter-button-2" v-b-toggle.accordion-4 @click="dropdownDates = !dropdownDates">
                            <img v-if="!dropdownDates" src="@/assets/icons/triangle-copy-8@2x.png"/>
                            <img v-else src="@/assets/icons/triangle-copy-11@2x.png"/>
                        </div>
                    </b-card-header>

                    <b-collapse id="accordion-4" role="tabpanel">
                        <b-card-body class="px-0">
                            <b-card-text >
                                <button @click=" filterData.filtersValue.Fecha_de_creacion = ''">
                                    limpiar fecha creación
                                </button>

                                <b-form-datepicker 
                                    id="example-datepicker-2" 
                                    class="mb-2" 
                                    placeholder="YYYY-MM-DD"
                                    v-model="filterData.filtersValue.Fecha_de_creacion" 
                                    @input="filterChange"
                                ></b-form-datepicker>

                                <!-- <b-form-datepicker id="example-datepicker-3" class="mb-2" v-model="value" placeholder="YYYY-MM-DD"></b-form-datepicker> -->
                            </b-card-text>
                        </b-card-body>
                    </b-collapse>
                </b-card>

                <b-card no-body class="mb-1 bd-none">
                    <b-card-header header-tag="header" class="p-1 bg-white bd-none bb-1 bb-1-solid-ccc" role="tab">
                        <b-button block href="#" v-b-toggle.accordion-5 variant="info" class="bg-white bd-none filter-button-1 p-0" @click="dropdownExpiration = !dropdownExpiration">
                            Vencimiento
                        </b-button>

                        <div class="filter-button-2" v-b-toggle.accordion-5 @click="dropdownExpiration = !dropdownExpiration">
                            <img v-if="!dropdownExpiration" src="@/assets/icons/triangle-copy-8@2x.png"/>
                            <img v-else src="@/assets/icons/triangle-copy-11@2x.png"/>
                        </div>
                    </b-card-header>

                    <b-collapse id="accordion-5" role="tabpanel">
                        <b-card-body class="px-0">
                            <b-card-text >
                                <button @click=" filterData.filtersValue.Vencimiento = ''">
                                    limpiar fecha vencimiento
                                </button>

                                <b-form-datepicker 
                                    id="example-datepicker-4" 
                                    class="mb-2" 
                                    placeholder="YYYY-MM-DD"
                                    v-model="filterData.filtersValue.Vencimiento" 
                                    @input="filterChange"
                                ></b-form-datepicker>
                            
                            </b-card-text>
                        </b-card-body>
                    </b-collapse>
                </b-card>

                <b-card no-body class="mb-1 bd-none">
                    <b-card-header header-tag="header" class="p-1 bg-white bd-none bb-1 bb-1-solid-ccc" role="tab">
                        <b-button block href="#" v-b-toggle.accordion-6 variant="info" class="bg-white bd-none filter-button-1 p-0" @click="dropdownService = !dropdownService">
                            Servicio
                        </b-button>

                        <div class="filter-button-2" v-b-toggle.accordion-6 @click="dropdownService = !dropdownService">
                            <img v-if="!dropdownService" src="@/assets/icons/triangle-copy-8@2x.png"/>
                            <img v-else src="@/assets/icons/triangle-copy-11@2x.png"/>
                        </div>
                    </b-card-header>

                    <b-collapse id="accordion-6" role="tabpanel">
                        <b-card-body class="px-0">
                            <b-card-text >
                                <b-form-input
                                    id="input-12"
                                    placeholder="Nombre de Servicio"
                                    v-model="filterData.filtersValue.Servicio"
                                    @keyup="filterChange"
                                ></b-form-input>
                            </b-card-text>
                        </b-card-body>
                    </b-collapse>
                </b-card>

                <b-card no-body class="mb-1 bd-none">
                    <b-card-header header-tag="header" class="p-1 bg-white bd-none bb-1 bb-1-solid-ccc" role="tab">
                        <b-button block href="#" v-b-toggle.accordion-7 variant="info" class="bg-white bd-none filter-button-1 p-0" @click="dropdownType = !dropdownType">
                            Tipo
                        </b-button>

                        <div class="filter-button-2" v-b-toggle.accordion-7 @click="dropdownType = !dropdownType">
                            <img v-if="!dropdownType" src="@/assets/icons/triangle-copy-8@2x.png"/>
                            <img v-else src="@/assets/icons/triangle-copy-11@2x.png"/>
                        </div>
                    </b-card-header>

                    <b-collapse id="accordion-7" role="tabpanel">
                        <b-card-body class="px-0">
                            <b-card-text >
                                <b-form-input
                                    id="input-12"
                                    placeholder="Tipo de Servicio"
                                    v-model="filterData.filtersValue.Tipo"
                                    @keyup="filterChange"
                                ></b-form-input>
                            </b-card-text>
                        </b-card-body>
                    </b-collapse>
                </b-card>
                
                <b-button class="second-background-color bd-none float-button w-100 mt-2">
                    <b-icon-search></b-icon-search>
                    Filtrar
                </b-button>
            </div>

        </b-sidebar>

    </div>
</template>

<script>
export default {
    name: 'Filters',
    data: () => {
        return {
            form: {
                email: '',
                name: '',
                contract: null,
                client: null,
                checked: []
            },
            dropdownTicket: false,
            dropdownOperator: false,
            dropdownChannel: false,
            dropdownDates: false,
            dropdownExpiration: false,
            dropdownService: false,
            dropdownType: false,

            filterData: {
                filtersValue: {
                    ticket: undefined,
                    Operador: undefined,
                    Canal: undefined,
                    Fecha_de_creacion: undefined,
                    Fecha_de_último_estado: undefined,
                    Vencimiento: undefined,
                    Servicio: undefined,
                    Tipo: undefined,
                    motivo: undefined,
                    Submotivo: undefined,
                    Diagnostico: undefined,
                    Accion: undefined,
                    Status: undefined,
                    SLA: undefined,
                    nro_shipment: undefined,
                    note: undefined,
                    drift: undefined,
                    reaperturas: undefined
                },
                filteredOn: []
            }
        }
    },
    methods: {
        filterChange() {
            let filteredOn = []

            if ( this.filterData.filtersValue.ticket != ''  && this.filterData.filtersValue.ticket != null)
                filteredOn.push('ticket')

            if ( this.filterData.filtersValue.Operador != '' && this.filterData.filtersValue.Operador != null)
                filteredOn.push('Operador')

            if ( this.filterData.filtersValue.Canal != '' && this.filterData.filtersValue.Canal != null)
                filteredOn.push('Canal')

            if ( this.filterData.filtersValue.Fecha_de_creacion != '' && this.filterData.filtersValue.Fecha_de_creacion != null) {
                filteredOn.push('Fecha_de_creacion')
            }

            if ( this.filterData.filtersValue.Vencimiento != '' && this.filterData.filtersValue.Vencimiento != null)
                filteredOn.push('Vencimiento')

            if ( this.filterData.filtersValue.Servicio != '' && this.filterData.filtersValue.Servicio != null)
                filteredOn.push('Servicio')

            if ( this.filterData.filtersValue.Tipo != '' && this.filterData.filtersValue.Tipo != null)
                filteredOn.push('Tipo')
        

            this.filterData.filteredOn = filteredOn

            console.log('filterChange')
            console.log(this.filterData)

            this.$emit('frontFilter',this.filterData)
        },
    }
}
</script>