<template>
    <div>
        <!-- Pantalla de filtros --  solo en full screen -->
        <filters
            @frontFilter="getFrontFilter"
        ></filters>
        
        <b-sidebar id="sidebar-1" title="Historial del cliente" v-model="firstCollapsed" v-bind:class="{ b_sidebar_100 : fullSideBar, sidebar_effect : sideBarEffect, }" shadow no-header>

            <div class="p-3">
                <b-row>
                    <!-- titulo del sidebar -->
                    <b-col>
                        <h4 id="sidebar-no-header-title" class="ta-left fw-bold" >Historial del cliente</h4>
                    </b-col>

                    <!-- Mensaje de historial sidebar no full -->
                    <b-col v-if="!fullSideBar" class="ta-right">
                        <a class="third-color cursor-pointer td-underline" v-on:click="emitFullSideBar()">Mostrar tabla completa</a>  
                        <b-button class="bg-white black bd-none ml-1" v-on:click="emitFullSideBar()">
                            <b-icon-box-arrow-in-right></b-icon-box-arrow-in-right>
                        </b-button>
                    </b-col>

                    <!-- Mensaje de historial sidebar full -->
                    <b-col v-else class="ta-right">
                        <a class="third-color cursor-pointer td-underline" v-on:click="emitFullSideBar()">Mostrar tabla resumida</a>  
                        <b-button class="bg-white black bd-none ml-1" v-on:click="emitFullSideBar()">
                            <b-icon-box-arrow-left></b-icon-box-arrow-left>
                        </b-button>
                    </b-col>

                </b-row>

                <b-row v-if="!fullSideBar">
                    <b-col lg="12" class="my-1">
                        
                        <b-form-group class="mb-0 m-0" >
                            <b-input-group size="sm">
        
                                <b-input-group-append>
                                    <b-button class="second-background-color bd-none">
                                        <b-icon-search></b-icon-search>
                                    </b-button>
                                </b-input-group-append>
                                
                                <b-form-input v-if="!fullSideBar"
                                    v-model="filter"
                                    type="search"
                                    id="filterInput"
                                    placeholder="Buscar..."
                                ></b-form-input>

                                <b-form-input v-else
                                    v-model="fullFilter"
                                    type="search"
                                    id="full-filterInput"
                                    placeholder="Buscar..."
                                ></b-form-input>
                                
                            </b-input-group>
                        </b-form-group>
                    
                    </b-col>
                </b-row> 

                <b-row v-else>
                    <b-col lg="6" class="my-1">
                        
                        <b-form-group class="mb-0 m-0" >
                            <b-input-group size="sm">
        
                                <b-input-group-append>
                                    <b-button class="second-background-color bd-none">
                                        <b-icon-search></b-icon-search>
                                    </b-button>
                                </b-input-group-append>

                                <b-form-input
                                    v-model="fullFilter"
                                    type="search"
                                    id="full-filterInput"
                                    placeholder="Buscar..."
                                ></b-form-input>
                                
                            </b-input-group>
                        </b-form-group>
                    
                    </b-col>

                    <b-col>

                    </b-col>
                </b-row>


                <!-- status colores sidebar no full -->
                <b-row v-if="!fullSideBar" class="mt-2 mb-2">
                    <b-col>
                        <div class="oval bg-yellow"></div>
                        Pendiente
                    </b-col>
                    
                    <!-- 
                    <b-col>
                        <div class="oval bg-blue"></div>
                        Solucionado
                    </b-col> 
                    -->

                    <b-col>
                        <div class="oval bg-orange"></div>
                        Abierto
                    </b-col>

                    <b-col>
                        <div class="oval bg-green"></div>
                        Cerrado
                    </b-col>
                </b-row> 


                <!-- status colores sidebar full -->
                <b-row v-else class="mt-2 mb-2 ai-center px-15">

                    <b-button v-b-toggle.sidebar-2 class="second-background-color bd-none float-button" style="" v-on:click="sideBarEffects()">
                        <b-icon-search></b-icon-search>
                        Filtros
                    </b-button>

                    <div class="oval bg-yellow"></div>
                    <p class="ml-1 mr-4">
                        Pendiente
                    </p>
                   
                    <!-- <div class="oval bg-blue"></div>
                    <p class="ml-1 mr-4">
                        Solucionado
                    </p> -->

                    <div class="oval bg-orange"></div>
                    <p class="ml-1 mr-4">
                        Abierto
                    </p>

                    <div class="oval bg-green"></div>
                    <p class="ml-1 mr-4">
                        Cerrado
                    </p>

                </b-row> 

                <div v-if="showLoadTicket" class="mt-2">
                    Se esta cargando el ticket seleccionado, espere por favor.
                </div>

                <div v-if="!fullSideBar" class="mt-2">
                    
                    <b-table 
                        id="side-table"
                        striped 
                        hover 
                        :busy="isBusySmall"
                        :items="items" 
                        :filter="filter"
                        :per-page="perPage"
                        :fields="smallFields"
                        :current-page="currentPage"
                        @row-clicked="myRowClickHandler"
                        @filtered="onFiltered"
                    >
                        <template v-slot:table-busy>
                            <div class="text-center my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong class="ml-2">Cargando...</strong>
                            </div>
                        </template>

                        <!-- A custom formatted column -->
                        <template v-slot:cell(ticket)="data">
                            <div class="oval" v-bind:class="data.value.Estado_del_Ticket"></div>
                            <p class="inline-txt ml-2">{{ data.value.Numero_del_Ticket }} </p>
                        </template>
                    
                    </b-table>
                    
                    <b-pagination
                        class="ta-right"
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        first-text="Primera"
                        prev-text="Anterior"
                        next-text="Siguiente"
                        last-text="Ultima"
                    ></b-pagination>
                
                </div>

                <div v-else>
                    <b-table 
                        id="full-side-table"
                        striped 
                        hover 
                        :busy="isBusyFull"
                        :items="filteredItems" 
                        :filter="fullFilter"
                        :per-page="fullPerPage"
                        :fields="fullFields"
                        :current-page="fullCurrentPage"
                        @row-clicked="myRowClickHandlerFull"
                    >
                        <template v-slot:table-busy>
                            <div class="text-center my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong class="ml-2">Cargando...</strong>
                            </div>
                        </template>

                        <!-- A custom formatted column -->
                        <template v-slot:cell(ticket)="data">
                            <div class="oval" v-bind:class="data.value.Estado_del_Ticket"></div>
                            <p class="inline-txt ml-2">{{ data.value.Numero_del_Ticket }} </p>
                        </template>
                    
                    </b-table>
                    
                    <b-pagination
                        class="ta-right"
                        v-model="filteredItems"
                        :total-rows="frontTotalRowsNotAssigned"
                        :per-page="fullPerPage"
                        first-text="Primera"
                        prev-text="Anterior"
                        next-text="Siguiente"
                        last-text="Ultima"
                    ></b-pagination>
                    
                </div>
            </div>
        
        </b-sidebar>

    </div>
</template>

<script>
// defining axios to http requests
import axiosApi from 'axios'
window.axios = axios
const axios = axiosApi.create({
    // declaring base api url from .env file
    baseURL: process.env.VUE_APP_DEV_API_HOST
})

import Filters from '@/components/ocasa/front/Filters'

export default {
    name: "SideBar",
    props: [
        'items',
        'totalRows',
        'isBusySmall',

        'fullItems',
        'fullTotalRows',
        'isBusyFull',
        
        'firstCollapsed',
        'frontFilterDataFromTicket',
        'frontFilteredOnFromTicket',
    ],
    components: {Filters},
    data: () => {
      return {
        smallFields: [
            { key: 'ticket', label: 'Numero del Ticket' },
            'motivo',
            'Operador',
            'SLA',
        ],

        // items: [],

        fullFields:[
            { key: 'ticket', label: 'Numero del Ticket' },
            'Operador',
            'Canal',
            'Fecha_de_creacion',
            'Fecha_de_último_estado',
            'Vencimiento',
            'Servicio',
            'Tipo',
            'motivo',
            'Submotivo',
            'Diagnostico',
            'Accion',
            'Status',
            'SLA'
        ],

        fullItems: [],

        totalRows: 1,
        perPage: 10,
        currentPage: 1,
        fullTotalRows: 1,
        fullPerPage: 10,
        fullCurrentPage: 1,
        filter: null,
        fullFilter: null,
        fullSideBar: false,

        sideBarEffect: Filters.data.localShow,

        isBusySmall: true,
        isBusyFull: true,

        emitTicket: {
            showForm: false,
            ticket: {}
        },

        showLoadTicket: false
      }
    },
    mounted() {
        // Set the initial number of items
        this.totalRows = this.items.length
        this.fullTotalRows = this.fullItems.length
    },
    methods: {
        // onFiltered(filteredItems) {
        //     // Trigger pagination to update the number of buttons/pages due to filtering
        //     this.totalRows = filteredItems.length
        //     this.currentPage = 1

        //     this.onFilteredFull(filteredItems)
        // },
        // onFilteredFull(filteredItems) {
        //     // Trigger pagination to update the number of buttons/pages due to filtering
        //     this.fullTotalRows = filteredItems.length
        //     this.fullCurrentPage = 1

        //     this.onFiltered(filteredItems)
        // },
        emitFullSideBar() {
            this.fullSideBar = !this.fullSideBar
            this.$emit('update', this.fullSideBar)
        },
        sideBarEffects() {
            this.sideBarEffect = !this.sideBarEffect
        },
        getSmallHistoryTableData() {
            axios.post('/api/freshdesk/tickets/filterSmall',{ email:this.$route.params.email })
            .then(response => {
                this.items = response.data
                this.totalRows = this.items.length
                this.isBusySmall = !this.isBusySmall
                
                // console.log(response.data)
            })
            .catch(error => {
                console.log(error)
            })
        },
        getFullHistoryTableData() { 
            axios.post('/api/freshdesk/tickets/filterLarge',{ email:this.$route.params.email })
            .then(response => {
                this.fullItems = response.data 
                this.fullTotalRows = this.fullItems.length
                this.isBusyFull = !this.isBusyFull
                
                // console.log(response.data)
            })
            .catch(error => {
                console.log(error)

                // comentar 
                this.fullTotalRows = this.fullItems.length
                this.isBusyFull = !this.isBusyFull
            })
        },
        myRowClickHandler (record, index) {
            console.log(record)
            console.log(index)
            this.showLoadTicket = true

            let ticket_number = record.ticket.Numero_del_Ticket
            console.log(ticket_number)

            this.emitTicket.showForm = true
            
            // hacer integracion con ticket unitario con el ticket_number
            // this.emitTicket.ticket = record

            axios.get('/api/freshdesk/tickets/'+ticket_number)
            .then(response => { 
                console.log(response.data.data)

                let date = new Date();
        
                this.emitTicket.ticket = response.data.data
                
                this.emitTicket.new_hour = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()
                this.emitTicket.new_date = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDay()
                
                this.emitTicket.ticket.reaperturas_length = this.emitTicket.ticket.reaperturas.length
                
                this.$emit('ticketEmitSmall', this.emitTicket)
                this.showLoadTicket = false
            })
        },
        myRowClickHandlerFull(record, index) {
            console.log(record)
            console.log(index)
            this.showLoadTicket = true

            let ticket_number = record.ticket.Numero_del_Ticket
            console.log(ticket_number)

            axios.get('/api/freshdesk/tickets/'+ticket_number)
            .then(response => {
                console.log(response.data.data)
                this.emitTicket.ticket = response.data.data

                let date = new Date();
                this.emitTicket.new_hour = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()
                this.emitTicket.new_date = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDay()

                this.emitTicket.ticket.reaperturas_length = this.emitTicket.ticket.reaperturas.length
                this.emitTicket.showForm = true
                this.$emit('ticketEmitFull', this.emitTicket)

                this.showLoadTicket = false

            })

            this.emitFullSideBar()
        },
        getFrontFilter (frontFilter) {
            console.log('getFrontFilter')
            this.$emit('frontFilterFromTickets', frontFilter)
        },
        countFilteredRows() {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.fullTotalRows = 1
        },
    },
    computed: {
        // Con este metodo se filtran los tickets del 
        filteredItems() {

            return this.fullItems.filter(item => {
                let keep = true

                // console.log('*****************************************************************************************')
                // console.log(this.fullItems)
                // console.log(this.frontFilteredOnFromTicket)
                // console.log(item)
                // console.log('*****************************************************************************************')

                // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. 
                // If a key was missing, it defaulted to straight equality.
                if (this.frontFilteredOnFromTicket.length > 0) {

                    this.frontFilteredOnFromTicket.forEach(key => {
                        
                        console.log("filteredItems")
                        console.log(key)
                        console.log(this.frontFilterDataFromTicket[key])
                        
                        if (key === 'ticket') {
                            keep = keep && (this.frontFilterDataFromTicket[key] === undefined || this.frontFilterDataFromTicket[key] === null || item[key] === this.frontFilterDataFromTicket[key] || item.ticket.Numero_del_Ticket.toString().includes(this.frontFilterDataFromTicket[key]) )
                        }
                        else {
                            console.log("else")
                            console.log(item[key].toUpperCase())
                            console.log(item[key].toUpperCase().includes(this.frontFilterDataFromTicket[key].toUpperCase()))
                            if ( item[key] === null) {
                                keep = keep && (this.frontFilterDataFromTicket[key] === undefined || this.frontFilterDataFromTicket[key] === null ||  item[key] === this.frontFilterDataFromTicket[key] || item[key].toUpperCase().includes(this.frontFilterDataFromTicket[key].toUpperCase()) )
                            }
                            else {
                                keep = keep && (this.frontFilterDataFromTicket[key] === undefined || this.frontFilterDataFromTicket[key] === null ||  item[key] === this.frontFilterDataFromTicket[key] || item[key].toUpperCase().includes(this.frontFilterDataFromTicket[key].toUpperCase()) )
                            }

                        }

                        if (!keep)
                            this.countFilteredRows()

                    })

                    // original algorithm
                    // this.fieldKeys.forEach(key => {
                    //     keep = keep && (this.backFilterData[key] === undefined || item[key] === this.backFilterData[key])
                    //     if (!keep)
                    //         this.backCurrentPageFunction()
                    // })
                }

                return keep
            })
        },
        frontTotalRowsNotAssigned() {
            console.log(this.filteredItems.length)
            return this.filteredItems.length
        }
    },
    created () {
        // this.getSmallHistoryTableData()
        // this.getFullHistoryTableData()
    }
}
</script>