<template>
    <div class="container mt-5 mb-5">
        <b-form @submit="onSubmit" @reset="onReset" v-if="emitTicket.showForm">
            <b-container class="">

                <b-row>
                    <b-col>
                        <b-form-group
                            id="input-group-0"
                            label="Numero del Ticket:"
                            label-for="input-0"
                            class="ta-left"
                        >
                            <b-form-input
                                id="input-0"
                                v-model="emitTicket.ticket.ticket.Numero_del_Ticket"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col>
                        <b-form-group
                            id="input-group-1"
                            label="Perfil:"
                            label-for="input-1"
                            class="ta-left"
                        >
                            <b-form-input
                                id="input-1"
                                v-model="emitTicket.ticket.Operador"
                                required
                                placeholder=""
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    
                    <b-col>
                        <b-form-group 
                            id="input-group-2" 
                            label="Cola:" 
                            label-for="input-2"
                            class="ta-left"
                        >
                            <b-form-input
                                id="input-2"
                                v-model="emitTicket.ticket.Servicio"
                                required
                                placeholder="Cola de PureCloud"
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row class="mt-3">
                    <b-col>
                
                        <h2 class="ta-left fs-porc-100 second-color fw-bold border-gray-bar">TIPIFICACIÓN NIVEL 1</h2>
                    
                    </b-col>
                </b-row>

                <b-row class="mt-3">
                    <b-col>
                        <b-form-group class="ta-left" id="input-group-3" label="Tipo:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="emitTicket.ticket.Tipo"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col>
                        <b-form-group class="ta-left" id="input-group-3" label="Motivo:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="emitTicket.ticket.motivo"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col>
                        <b-form-group class="ta-left" id="input-group-3" label="Submotivo:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="emitTicket.ticket.Submotivo"
                                :options="clients"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group
                            id="input-group-1"
                            label="Nro. Shipment:"
                            label-for="input-1"
                            class="ta-left"
                        >
                            <b-form-input
                                id="input-1"
                                v-model="emitTicket.ticket.nro_shipment"
                                required
                                placeholder="Nombre del cliente"
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    
                    <b-col>
                        <b-form-group 
                            id="input-group-2" 
                            label="Deriva a:" 
                            label-for="input-2"
                            class="ta-left"
                        >
                            <b-form-input
                                id="input-2"
                                v-model="emitTicket.ticket.drift"
                                required
                                placeholder="Canal de contacto"
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col>
                    </b-col>
                </b-row>

                <b-row> 
                    <b-col cols="8">
                        <b-form-group 
                            id="input-group-2" 
                            label="Nota:" 
                            label-for="input-2"
                            class="ta-left"
                        >
                            <b-form-textarea
                                id="textarea"
                                v-model="emitTicket.ticket.note"
                                placeholder="Escribe algo..."
                                max-rows="6"
                            ></b-form-textarea>
                        </b-form-group>
                    </b-col>

                    <b-col>

                        <b-form-group 
                            id="attachment-new-ticket" 
                            label="Adjuntar:" 
                            label-for="input-2"
                            class="ta-left"
                        >
                            <b-form-file
                                v-model="emitTicket.new_attachment"
                                placeholder="Examinar..."
                            >
                            </b-form-file>
                                    
                        </b-form-group>

                    </b-col>
                </b-row> 

                
                <b-row class="mt-3">
                    <b-col>
                
                        <h2 class="ta-left fs-porc-100 second-color fw-bold border-gray-bar">INSISTENCIA DEL TICKET</h2>
                    
                    </b-col>
                </b-row>

                <b-row class="mt-3 mb-3">
                    
                    <!-- button to add recontact -->
                    <b-col class="ta-left">

                        <b-button class="second-background-color bd-none">
                            <b-icon-plus-circle @click="changeShowAddRecontact()"></b-icon-plus-circle>
                        </b-button>
                        <a class="ml-3 third-color cursor-pointer td-underline font-italic" @click="changeShowAddRecontact()">
                            Agregar recontacto
                        </a>  

                    </b-col>

                    <b-col>
                    </b-col>

                    <b-col>
                    </b-col>

                </b-row>

                
                <b-row class="mt-3 mb-3" v-if="showAddRecontact">
                    
                    <!-- button to add recontact -->
                    <b-col class="ta-left">

                        <b-form-group class="ta-left" id="input-group-3" label="Fecha:" label-for="input-3" >
                            <b-form-datepicker id="example-datepicker" class="mb-2" v-model="emitTicket.new_date" placeholder="YYYY-MM-DD" disabled></b-form-datepicker>
                        </b-form-group>

                    </b-col>

                    <b-col>
                        
                        <b-form-group class="ta-left" id="input-group-3" label="Hora:" label-for="input-3" >
                            <b-form-timepicker v-model="emitTicket.new_hour" locale="en" disabled></b-form-timepicker>
                        </b-form-group>

                    </b-col>

                    <b-col>
                        
                        <b-form-group class="ta-left" id="input-group-3" label="Nota:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="emitTicket.new_note"
                                placeholder="Última actualización"
                                required
                            ></b-form-input>
                        </b-form-group>

                    </b-col>

                </b-row>

                <b-row class="" v-for="(reapertura,index) in emitTicket.ticket.reaperturas" v-bind:key="reapertura">

                    <b-col>

                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Reapertura:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="reapertura.Operador"
                                :options="contracts"
                                placeholder="Operador"
                                required
                                disabled
                            ></b-form-input>


                        </b-form-group>
                        
                        <b-form-input 
                            v-else
                            id="input-3"
                            class="mb-3"
                            v-model="reapertura.Operador"
                            :options="contracts"
                            placeholder="Operador"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>

                    <b-col>

                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Fecha/Hora:" label-for="input-3">
                            <!-- :value="reapertura.Fecha_de_creacion + ' ' + reapertura.hora" -->
                            <b-form-input
                                id="input-3"
                                :value="reapertura.hora"
                                :options="contracts"
                                placeholder="Ultimo estado"
                                required
                                disabled
                            ></b-form-input>


                        </b-form-group>
                        
                        <b-form-input 
                            v-else
                            id="input-3"
                            class="mb-3"
                            :value="reapertura.hora"
                            :options="contracts"
                            placeholder="Ultimo estado"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>
                    
                    <b-col>
                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Nota:" label-for="input-3">
                            
                            <b-form-input
                                id="input-3"
                                v-model="reapertura.nota"
                                :options="contracts"
                                placeholder="Ultimo estado"
                                required
                                disabled
                            ></b-form-input>


                        </b-form-group>
                        
                        <b-form-input 
                            v-else
                            id="input-3"
                            class="mb-3"
                            v-model="reapertura.nota"
                            :options="contracts"
                            placeholder="Ultimo estado"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>

                </b-row>

                <b-row class="mt-3 mb-3" v-if="emitTicket.ticket.reaperturas.length > 0">
                    <b-col>
                
                        <h2 class="ta-left fs-porc-100 second-color fw-bold border-gray-bar">ACTUALIZACIONES DEL TICKET</h2>
                    
                    </b-col>
                </b-row>


                <b-row class="" v-for="(reapertura,index) in emitTicket.ticket.reaperturas" v-bind:key="reapertura">
                     <b-col>
                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Estado:" label-for="input-3">
                            
                            <b-form-input
                                id="input-3"
                                v-model="reapertura.status"
                                :options="contracts"
                                placeholder="Ultimo estado"
                                required
                                disabled
                            ></b-form-input>


                        </b-form-group>
                        
                        <b-form-input 
                            v-else
                            id="input-3"
                            class="mb-3"
                            v-model="reapertura.status"
                            :options="contracts"
                            placeholder="Ultimo estado"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>

                    <b-col>
                        
                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Nº ticket:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="reapertura.nro_ticket"
                                :options="clients"
                                placeholder="Nº ticket"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>


                        <b-form-input
                            v-else
                            id="input-3"
                            class="mb-3"
                            v-model="reapertura.nro_ticket"
                            :options="clients"
                            placeholder="Nº ticket"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>

                    <b-col>
                        
                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Última actualización:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="reapertura.Fecha_de_último_estado"
                                :options="clients"
                                placeholder="Última actualización"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>

                        <b-form-input
                            v-else
                            id="input-3"
                            class="mb-3"
                            v-model="reapertura.Fecha_de_último_estado"
                            :options="clients"
                            placeholder="Última actualización"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>
                </b-row>


                <b-row class="mt-3">
                    <b-col>
                    </b-col>
                    
                    <b-col>
                    </b-col>
                    
                    <b-col class="">
                        <b-button 
                            class="w-100 background-second-color bd-none" 
                            v-bind:class="{ dn : inputDisabled }"
                            type="submit" 
                        >
                            Actualizar
                        </b-button>
                    </b-col>



                </b-row>
                
                <!-- Mensaje de actualizacion -->
                <b-row class="mt-3">
                    <b-col>
                        <b-alert v-model="showResponseMessage" v-bind:variant="variant">{{requestMessage}}</b-alert>
                    </b-col>
                </b-row>

            </b-container>

            
            <b-card class="mt-3" header="Form Data Result">
                <pre class="m-0">{{ emitTicket }}</pre>
            </b-card> 
            

        </b-form>

        <!-- mostrando datos a enviar -->
        <!-- Solo para debug -->
        
       

        <div v-else>
            Por favor seleccione un ticket en el <b>Historial del cliente</b>
        </div>

    </div>
</template>

<script>
import axiosApi from 'axios'
window.axios = axios
const axios = axiosApi.create({
    // declaring base api url from .env file
    baseURL: process.env.VUE_APP_DEV_API_HOST
})

export default {
    name: "Ticket",
    props: [
            'emitTicket',
            'showAddRecontact',
            'showResponseMessage'
    ],
    data(){
        return {
            value: '',
            contracts: [{ text: 'Cliente B2C', value: null }, 'Contrato 1', 'Contrato 2', 'Contrato 3', 'Contrato 4'],
            clients: [{ text: 'Seleccionar Cliente', value: null }, 'Cliente 1', 'Cliente 2', 'Cliente 3', 'Cliente 4'],
            show: true,

        }
    },
    methods: {
        onSubmit(evt) {
            evt.preventDefault()

            let data = new FormData()

            console.log(this.emitTicket.ticket.reaperturas.length)
            console.log(this.emitTicket.ticket.reaperturas)

            data.append('email',this.$route.params.email)
            data.append('Numero_del_Ticket',this.emitTicket.ticket.ticket.Numero_del_Ticket)
            data.append('status',2) // reapertura open ticket always
            data.append('priority',this.emitTicket.ticket.priority)
            data.append('source',this.emitTicket.ticket.source)
            data.append('responder_id',this.$route.params.responder_id)
            data.append('type',this.emitTicket.ticket.Tipo)
            data.append('subject',this.emitTicket.ticket.subject)
            data.append('reapertura_index',this.emitTicket.ticket.reaperturas_length)
            data.append('typification_attached',this.emitTicket.new_attachment)
            data.append('Servicio',this.emitTicket.ticket.Servicio)


            data.append('reapertura_operador',this.$route.params.responder_id)
            data.append('reapertura_canal',this.emitTicket.ticket.source)
            data.append('reapertura_fecha_de_creacion',this.emitTicket.new_date)
            data.append('reapertura_hora',this.emitTicket.new_hour)
            data.append('reapertura_nota',this.emitTicket.new_note)


            data.append('Accion',this.emitTicket.ticket.email)
            data.append('Canal',this.emitTicket.ticket.email)
            data.append('Operador',this.emitTicket.ticket.email)
            data.append('Fecha_de_creacion',this.emitTicket.ticket.Fecha_de_creacion)
            data.append('Fecha_de_último_estado',this.emitTicket.ticket.Fecha_de_último_estado)
            data.append('Vencimiento',this.emitTicket.ticket.Vencimiento)
            data.append('Submotivo',this.emitTicket.ticket.Submotivo)
            data.append('Diagnostico',this.emitTicket.ticket.Diagnostico)
            data.append('Status',2)
            data.append('SLA',this.emitTicket.ticket.SLA)
            data.append('nro_shipment',this.emitTicket.ticket.nro_shipment)
            data.append('note',this.emitTicket.ticket.note)
            data.append('drift',this.emitTicket.ticket.drift)

            axios({
                method: 'post',
                url: '/api/tickets/update',
                data: data,
                headers: {'Content-Type': 'multipart/form-data' }
            })
            .then(response => {

                if (response.data.status == 'success' && response.status == 200) {
                    this.variant = 'success',
                    this.requestMessage = 'Ticket Actualizado correctamente'

                    // cleaning variables from emit ticket
                    this.emitTicket.new_date = ''
                    this.emitTicket.new_hour = ''
                    this.emitTicket.new_note = ''
                    this.emitTicket.new_attachment = ''

                    this.$router.go()
                }
                else 
                {
                    this.variant = 'danger',
                    this.requestMessage = 'Error al actualizar el ticket, favor comuniquese con su supervisor'
                }

                this.showResponseMessage = true

            })
            .catch(error => {
                console.log(error)
            })

        },
        onReset(evt) {
            
            evt.preventDefault()
            
            // Reset our form values
            this.form.email = ''
            this.form.name = ''
            this.form.food = null
            this.form.checked = []
            
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
                this.show = true
            })

        },
        changeShowAddRecontact() {
            
            this.showAddRecontact = true
            this.$emit('changeShowAddRecontact', this.showAddRecontact)

        }
    },
    created() {
        let date = new Date();
        this.emitTicket.new_hour = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()
        this.emitTicket.new_date = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDay()
    }
}
</script>