<template name="BackOfficeLogin">
    <div id="login" class="main-wrapper">
        <b-container class="section">
            
            <b-form @submit="loginRequest">

                <b-row>
                    <b-col>
                        <b-alert v-model="showResponseMessage" v-bind:variant="variant">{{message}}</b-alert>
                    </b-col>
                </b-row>

                <b-row> 
                    <b-col>
                        <img src="@/assets/icons/ocasa-logo@2x.png"/>
                    </b-col>
                </b-row> 

                <b-row class="mt-2"> 
                    <b-col>
                        <h2 class="fw-bold">Inicio de sesión</h2>
                    </b-col>
                </b-row> 
                

                <b-row class="mt-2"> 
                    <b-col>
                        <p class="sixth-color">Escribe tu correo electrónico para loguearte</p>
                    </b-col>
                </b-row> 

                <b-row class="mt-4 justify-content-md-center">
                    <b-col>
                        <b-form-input
                            id="login-input"
                            class="input-center-300"
                            type="email"
                            v-model="email"
                            placeholder="example@example.com"
                            required
                        ></b-form-input>
                    </b-col>
                </b-row> 


                <b-row class="mt-4 justify-content-md-center" align-v="center">
                    <b-col>
                        <b-button type="submit" class="second-background-color bd-none w-150-px" >INGRESAR</b-button>
                    </b-col>
                </b-row> 

            </b-form>

        </b-container>
    </div>
</template>

<script>
import axiosApi from 'axios'
window.axios = axios
const axios = axiosApi.create({
    // declaring base api url from .env file
    baseURL: process.env.VUE_APP_DEV_API_HOST
})

export default {
    name: 'BackOfficeLogin',
    data: () => {
        return {
            email: '',
            message:''
        }
    },
    methods: {
        loginRequest (evt) {
            evt.preventDefault()

            if ( this.email != '' ) 
            {
                let data = {
                    email: this.email
                }
                
                let body = {}

                axios({
                    method: 'POST',
                    url: '/api/freshdesk/agent/login',
                    data: data,
                })
                .then(response => {

                    if (response.data.status == 'success' && response.status == 200) {
                        console.log(response.data.data)
                        if(response.data.data.id == 0) {
                            this.variant = 'danger',
                            this.message = response.data.data.status
                        }
                        else {
                            this.variant = 'success',
                            this.message = 'logueado satisfactoriamente.'
                        
                            body.status = true
                            body.agent_id = response.data.data.id
                            this.$emit("isAuthenticated", body)
                        }
                        
                    }
                    else 
                    {
                        this.variant = 'danger',
                        this.message = 'Error al actualizar el ticket, favor comuniquese con su supervisor'
                    }

                    this.showResponseMessage = true

                })
                .catch(error => {
                    console.log(error)
                })


            }
            else 
            {
                this.message = 'Inserte un correo valido.'
                
            }
        }
    },
}
</script>