<template>
    <div>
        <!-- Pantalla de filtros --  solo en full screen -->
        <filters 
            @backFilter="getBackFilter"
        ></filters>
        
        <b-sidebar id="sidebar-1" title="Historial del cliente" 
            v-bind:class="{ b_sidebar_100 : fullHistorySideBar, sidebar_effect : sideBarEffect }" 
            v-model="sideBarHistoryStatus"
            no-header
            shadow 
        >

            <div class="p-3">

                <b-row>
                    <!-- titulo del sidebar -->
                    <b-col>
                        <h4 id="sidebar-no-header-title" class="ta-left fw-bold" >Historial del cliente</h4>
                    </b-col>

                    <!-- Mensaje de historial sidebar no full -->
                    <b-col v-if="!fullHistorySideBar" class="ta-right">
                        <a class="third-color cursor-pointer td-underline" v-on:click="emitfullHistorySideBar()">Mostrar tabla completa</a>  
                        <b-button class="bg-white black bd-none ml-1" v-on:click="emitfullHistorySideBar()">
                            <b-icon-box-arrow-in-right></b-icon-box-arrow-in-right>
                        </b-button>
                    </b-col>

                    <!-- Mensaje de historial sidebar full -->
                    <b-col v-else class="ta-right">
                        <a class="third-color cursor-pointer td-underline" v-on:click="emitfullHistorySideBar()">Mostrar tabla resumida</a>  
                        <b-button class="bg-white black bd-none ml-1" v-on:click="emitfullHistorySideBar()">
                            <b-icon-box-arrow-left></b-icon-box-arrow-left>
                        </b-button>
                    </b-col>

                </b-row>
        
                <b-row v-if="showLoadMessage" style="padding:20px 0">
                    <b-col>
                        <p>Por favor, seleccione un ticket para mostrar el historial</p>
                    </b-col>
                </b-row>

                <b-row v-if="!fullHistorySideBar">
                    <b-col lg="12" class="my-1">
                        
                        <b-form-group class="mb-0 m-0" >
                            <b-input-group size="sm">
        
                                <b-input-group-append>
                                    <b-button class="second-background-color bd-none">
                                        <b-icon-search></b-icon-search>
                                    </b-button>
                                </b-input-group-append>
                                
                                <b-form-input v-if="!fullHistorySideBar"
                                    v-model="filter"
                                    type="search"
                                    id="filterInput"
                                    placeholder="Buscar..."
                                ></b-form-input>

                                <b-form-input v-else
                                    v-model="fullFilter"
                                    type="search"
                                    id="full-filterInput"
                                    placeholder="Buscar..."
                                ></b-form-input>
                                
                            </b-input-group>
                        </b-form-group>
                    
                    </b-col>
                </b-row> 

                <b-row v-else>
                    <b-col lg="6" class="my-1">
                        
                        <b-form-group class="mb-0 m-0" >
                            <b-input-group size="sm">
        
                                <b-input-group-append>
                                    <b-button class="second-background-color bd-none">
                                        <b-icon-search></b-icon-search>
                                    </b-button>
                                </b-input-group-append>

                                <b-form-input
                                    v-model="fullFilter"
                                    type="search"
                                    id="full-filterInput"
                                    placeholder="Buscar..."
                                ></b-form-input>
                                
                            </b-input-group>
                        </b-form-group>
                    
                    </b-col>

                    <b-col>

                    </b-col>
                </b-row>


                <!-- status colores sidebar no full -->
                <b-row v-if="!fullHistorySideBar && !showLoadMessage" class="mt-2 mb-2">
                    <b-col>
                        <div class="oval bg-yellow"></div>
                        Pendiente
                    </b-col>

                    <!-- <b-col> -->
                        <!-- <div class="oval bg-blue"></div>
                        Solucionado -->
                    <!-- </b-col> -->

                    <b-col>
                        <div class="oval bg-orange"></div>
                        Abierto
                    </b-col>

                    <b-col>
                        <div class="oval bg-green"></div>
                        Cerrado
                    </b-col>
                </b-row> 


                <!-- status colores sidebar full -->
                <b-row v-else-if="fullHistorySideBar && !showLoadMessage" class="mt-2 mb-2 ai-center px-15">

                    <b-button v-b-toggle.sidebar-2 class="second-background-color bd-none float-button" style="" v-on:click="sideBarEffects()">
                        <b-icon-search></b-icon-search>
                        Filtros
                    </b-button>

                    <div class="oval bg-yellow"></div>
                    <p class="ml-1 mr-4">
                        Pendiente
                    </p>
                   
                    <!-- <div class="oval bg-blue"></div>
                    <p class="ml-1 mr-4">
                        Solucionado
                    </p> -->

                    <div class="oval bg-orange"></div>
                    <p class="ml-1 mr-4">
                        Abierto
                    </p>

                    <div class="oval bg-green"></div>
                    <p class="ml-1 mr-4">
                        Cerrado
                    </p>

                </b-row> 

                <div v-if="!fullHistorySideBar && !showLoadMessage" class="mt-2">
                    <b-table 
                        id="side-table"
                        striped 
                        hover 

                        :items="items" 
                        :filter="filter"
                        :busy="isBusySmall"
                        :per-page="perPage"
                        :fields="smallFields"
                        :current-page="currentPage"
                    >
                        
                        <template v-slot:table-busy>
                            <div class="text-center my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong class="ml-2">Cargando...</strong>
                            </div>
                        </template>

                        <!-- A custom formatted column -->
                        <template v-slot:cell(ticket)="data">
                            <div class="oval" v-bind:class="data.value.Estado_del_Ticket"></div>
                            <p class="inline-txt ml-2">{{ data.value.Numero_del_Ticket }} </p>
                        </template>
                    
                    </b-table>
                    
                    <b-pagination
                        class="ta-right"
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        first-text="Primera"
                        prev-text="Anterior"
                        next-text="Siguiente"
                        last-text="Ultima"
                    ></b-pagination>
                
                </div>

                <div v-else-if="fullHistorySideBar && !showLoadMessage">
                    <b-table 
                        id="full-side-table"
                        striped 
                        hover 
                        :items="filteredItems" 
                        :filter="fullFilter"
                        :busy="isBusyFull"
                        :per-page="fullPerPage"
                        :fields="fullFields"
                        :current-page="fullCurrentPage"
                    >
                        
                        <template v-slot:table-busy>
                            <div class="text-center my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong class="ml-2">Cargando...</strong>
                            </div>
                        </template>

                        <!-- A custom formatted column -->
                        <template v-slot:cell(ticket)="data">
                            <div class="oval" v-bind:class="data.value.Estado_del_Ticket"></div>
                            <p class="inline-txt ml-2">{{ data.value.Numero_del_Ticket }} </p>
                        </template>
                    
                    </b-table>
                    
                    <b-pagination
                        class="ta-right"
                        v-model="fullCurrentPage"
                        :total-rows="backTotalRowsNotAssigned"
                        :per-page="fullPerPage"
                        first-text="Primera"
                        prev-text="Anterior"
                        next-text="Siguiente"
                        last-text="Ultima"
                    ></b-pagination>
                </div>
            </div>
        
        </b-sidebar>

    </div>
</template>

<script>
// defining axios to http requests
import axiosApi from 'axios'
window.axios = axios
const axios = axiosApi.create({
    // declaring base api url from .env file
    baseURL: process.env.VUE_APP_DEV_API_HOST
})

import Filters from '@/components/ocasa/back/Filters'

export default {
    name: "SideBar",
    components: {Filters},
    props: [
            'fullHistorySideBar',
            'sideBarHistoryStatus',

            'items',
            'fullItems',
            
            'showLoadMessage',

            'isBusySmall',
            'isBusyFull',
            
            'totalRows',
            'fullTotalRows',
            
            'currentPage',
            'fullCurrentPage',

            'backFilterDataFromTicket',
            'backFilteredOnFromTicket',
    ],
    data: () => {
      return {

        smallFields: [
            { key: 'ticket', label: 'Numero del Ticket' },
            'motivo',
            'Operador',
            'SLA'
        ],

        fullFields:[
            { key: 'ticket', label: 'Numero del Ticket' },
            'Operador',
            'Canal',
            'Fecha_de_creacion',
            'Fecha_de_último_estado',
            'Vencimiento',
            'Servicio',
            'Tipo',
            'motivo',
            'Submotivo',
            'Diagnostico',
            'Accion',
            'Estado_Accion',
            'SLA'
        ],

        perPage: 10,
        currentPage: 1,
        fullPerPage: 10,
        fullCurrentPage: 1,
        filter: null,
        fullFilter: null,

        sideBarEffect: Filters.data.localShow,
        
      }
    },
    mounted() {
        // Set the initial number of items
        this.totalRows = this.items.length
        this.fullTotalRows = this.fullItems.length
    },
    methods: {
        // onFiltered(filteredItems) {
        //     // Trigger pagination to update the number of buttons/pages due to filtering
        //     this.totalRows = filteredItems.length
        //     this.currentPage = 1

        //     this.onFilteredFull(filteredItems)
        // },
        // onFilteredFull(filteredItems) {
        //     // Trigger pagination to update the number of buttons/pages due to filtering
        //     this.fullTotalRows = filteredItems.length
        //     this.fullCurrentPage = 1

        //     this.onFiltered(filteredItems)
        // },
        countFilteredRows() {
            // Trigger pagination to update the number of buttons/pages due to filtering
            // this.totalRows = this.filteredItems.length
            // this.currentPage = 1
            this.fullCurrentPage = 1
        },
        emitfullHistorySideBar() {
            this.$emit('updateFull', this.fullHistorySideBar)
        },
        sideBarEffects() {
            this.sideBarEffect = !this.sideBarEffect
        },
        getBackFilter (backFilter) {
            console.log('getBackFilter')
            this.$emit('backFilterFromTickets', backFilter)
        },
    },
    computed: {
        // Con este metodo se filtran los tickets del 
        filteredItems() {

            return this.fullItems.filter(item => {
                let keep = true

                // console.log('*****************************************************************************************')
                // console.log(this.fullItems)
                // console.log(this.backFilteredOnFromTicket)
                // console.log(item)
                // console.log('*****************************************************************************************')

                // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. 
                // If a key was missing, it defaulted to straight equality.
                if (this.backFilteredOnFromTicket.length > 0) {

                    this.backFilteredOnFromTicket.forEach(key => {
                        
                        console.log(this.backFilterDataFromTicket[key])
                        if (key === 'ticket') {
                            keep = keep && (this.backFilterDataFromTicket[key] === undefined || this.backFilterDataFromTicket[key] === null || item[key] === this.backFilterDataFromTicket[key] || item.ticket.Numero_del_Ticket.toString().includes(this.backFilterDataFromTicket[key]) )
                        }
                        else {
                            if ( item[key] === null) {
                                keep = keep && (this.backFilterDataFromTicket[key] === undefined || this.backFilterDataFromTicket[key] === null ||  item[key] === this.backFilterDataFromTicket[key] )
                            }
                            else {
                                keep = keep && (this.backFilterDataFromTicket[key] === undefined || this.backFilterDataFromTicket[key] === null ||  item[key] === this.backFilterDataFromTicket[key] || item[key].toUpperCase().includes(this.backFilterDataFromTicket[key].toUpperCase()) )
                            }

                        }

                        if (!keep)
                            this.countFilteredRows()

                    })

                    // original algorithm
                    // this.fieldKeys.forEach(key => {
                    //     keep = keep && (this.backFilterData[key] === undefined || item[key] === this.backFilterData[key])
                    //     if (!keep)
                    //         this.backCurrentPageFunction()
                    // })
                }

                return keep
            })
        },
        backTotalRowsNotAssigned() {
            console.log(this.filteredItems.length)
            return this.filteredItems.length
        }
    },
}
</script>