<template>
    <div class="container mt-5 mb-5">
        <!-- Formulario principal -->
        <b-form @submit="onSubmit" @reset="onReset" v-if="emitTicket.showForm">
            <b-container class="bv-example-row">
                <b-row>
                    <b-col>
                        <b-form-group
                            id="input-group-1"
                            label="Numero del Ticket:"
                            label-for="input-1"
                            class="ta-left"
                        >
                            <b-form-input
                                id="input-1"
                                v-model="emitTicket.ticket.ticket.Numero_del_Ticket"
                                required
                                placeholder="Operador"
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col>
                        <b-form-group
                            id="input-group-1"
                            label="Perfil:"
                            label-for="input-1"
                            class="ta-left"
                        >
                            <b-form-input
                                id="input-1"
                                v-model="emitTicket.ticket.Operador"
                                required
                                placeholder="Operador"
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    
                    <b-col>
                        <b-form-group 
                            id="input-group-2" 
                            label="Cola:" 
                            label-for="input-2"
                            class="ta-left"
                        >
                            <b-form-input
                                id="input-2"
                                v-model="emitTicket.ticket.Servicio"
                                required
                                placeholder="Cola de PureCloud"
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group class="ta-left" id="input-group-3" label="Tipo de contrato:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="emitTicket.ticket.contract_type"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col>
                        <b-form-group class="ta-left" id="input-group-3" label="Cliente de:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="emitTicket.ticket.customer_of"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col>
                    </b-col>
                </b-row>

                <b-row class="mt-3">
                    <b-col>
                
                        <h2 class="ta-left fs-porc-100 second-color fw-bold border-gray-bar">CLIENTE</h2>
                    
                    </b-col>
                </b-row>

                <b-row class="mt-3">
                    <b-col>
                        <b-form-group
                            id="input-group-1"
                            label="Nombre del cliente:"
                            label-for="input-1"
                            class="ta-left"
                        >
                            <b-form-input
                                id="input-1"
                                v-model="emitTicket.ticket.client_name"
                                placeholder="Nombre del cliente"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    
                    <b-col>
                        <b-form-group 
                            id="input-group-2" 
                            label="Canal de contacto:" 
                            label-for="input-2"
                            class="ta-left"
                        >
                            <b-form-input
                                id="input-2"
                                v-model="emitTicket.ticket.Canal"
                                placeholder="Canal de contacto"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col>
                    </b-col>
                </b-row>

                <b-row class="mt-3">
                    <b-col>
                
                        <h2 class="ta-left fs-porc-100 second-color fw-bold border-gray-bar">TIPIFICACIÓN NIVEL 1</h2>
                    
                    </b-col>
                </b-row>

                <b-row class="mt-3">
                    <b-col>
                        <b-form-group class="ta-left" id="input-group-3" label="Tipo:" label-for="input-3">
                            <b-form-input
                                id="input-1"
                                v-model="emitTicket.ticket.Tipo"
                                placeholder="Tipo"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col>
                        <b-form-group class="ta-left" id="input-group-3" label="Motivo:" label-for="input-3">
                            <b-form-input
                                id="input-1"
                                v-model="emitTicket.ticket.motivo"
                                placeholder="Motivo"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col>
                        <b-form-group class="ta-left" id="input-group-3" label="Submotivo:" label-for="input-3">
                            <b-form-input
                                id="input-1"
                                v-model="emitTicket.ticket.Submotivo"
                                placeholder="Submotivo"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group
                            id="input-group-1"
                            label="Nro. Shipment:"
                            label-for="input-1"
                            class="ta-left"
                        >
                            <b-form-input
                                id="input-1"
                                v-model="emitTicket.ticket.nro_shipment"
                                placeholder="Numero de envio"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    
                    <b-col>
                        <b-form-group 
                            id="input-group-2" 
                            label="Deriva a:" 
                            label-for="input-2"
                            class="ta-left"
                        >
                        <b-form-input
                            id="input-2"
                            v-model="emitTicket.ticket.drift"
                            placeholder="Canal de contacto"
                            required
                            disabled
                        ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col>
                    </b-col>
                </b-row>

                <b-row> 
                    <b-col cols="8">
                        <b-form-group 
                            id="input-group-2" 
                            label="Nota:" 
                            label-for="input-2"
                            class="ta-left"
                        >
                            <b-form-textarea
                                id="textarea"
                                v-model="emitTicket.ticket.note"
                                placeholder="Escribe algo..."
                                rows="2"
                                max-rows="6"
                            ></b-form-textarea>
                        </b-form-group>
                    </b-col>

                    <b-col>

                        <b-form-group 
                            id="attachment-new-ticket" 
                            label="Adjuntos:" 
                            label-for="input-2"
                            class="ta-left"
                        >
                            <p v-if="emitTicket.ticket.adjunto.length == 0">Sin archivos adjuntos</p>

                            <!-- v-bind:href="attachment.url" -->
                            <div  v-for="attachment in emitTicket.ticket.adjunto" v-bind:key="attachment" class="d-b w-100 mb-1">
                                <img class="mr-2 w-15" src="@/assets/icons/attach-copy-4@2x.png"/>
                                <a  
                                    @click="downloadWithVueResource(attachment.url)"
                                    download
                                    target="_blank"
                                    class="third-color cursor-pointer td-underline" 
                                >{{attachment.name}}</a>
                            </div>
                                    
                        </b-form-group>

                    </b-col>
                </b-row> 


                <b-row class="mt-3">
                    <b-col>
                
                        <h2 class="ta-left fs-porc-100 second-color fw-bold border-gray-bar">TIPIFICACIÓN NIVEL 2</h2>
                    
                    </b-col>
                </b-row>

                <b-row class="mt-3">
                    <b-col>
                        <b-form-group class="ta-left" id="input-diagnostic-group-3" label="Diagnóstico:" label-for="input-diagnostic-3">
                            <b-form-select
                                id="input-diagnostic-3"
                                v-model="emitTicket.ticket.Diagnostico"
                                :options="diagnostics"
                                required
                            ></b-form-select>
                        </b-form-group>
                    </b-col>

                    <b-col>
                        <b-form-group class="ta-left" id="input-action-group-3" label="Acción:" label-for="input-action-3">
                            <b-form-select
                                id="input-action-3"
                                v-model="emitTicket.ticket.Accion"
                                :options="actions"
                                required
                            ></b-form-select>
                        </b-form-group>
                    </b-col>

                    <b-col>
                        
                    </b-col>
                </b-row>


                <b-row> 
                    <b-col cols="8">
                        <b-form-group 
                            id="input-group-2" 
                            label="Nota:" 
                            label-for="input-2"
                            class="ta-left"
                        >
                            <b-form-textarea
                                id="textarea"
                                v-model="emitTicket.ticket.note_back"
                                placeholder="Escribe algo..."
                                rows="2"
                                max-rows="6"
                            ></b-form-textarea>
                        </b-form-group>
                    </b-col>

                    <b-col>

                        <b-form-group 
                            id="attachment-new-ticket" 
                            label="Adjuntar:" 
                            label-for="input-2"
                            class="ta-left"
                        >
                            <b-form-file
                                v-model="emitTicket.new_attachment"
                                placeholder="Examinar..."
                            ></b-form-file>
                                    
                        </b-form-group>

                    </b-col>
                </b-row> 

                <b-row class="mt-3">
                    <b-col>
                    </b-col>
                    
                    <b-col>
                    </b-col>
                    
                    <b-col class="">
                        <div class="form-group">
                            <b-button class="w-100 background-second-color bd-none" @click="BackSaveData()">Guardar</b-button>
                            <!-- <b-button type="reset" variant="danger">Reset</b-button> -->
                        </div>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-alert v-model="showResponseMessage" v-bind:variant="variantLevel2">{{requestMessageLevel2}}</b-alert>
                    </b-col>
                </b-row>

                <b-row class="mt-3" v-if="emitTicket.ticket.reaperturas.length > 0">
                    <b-col>
                
                        <h2 class="ta-left fs-porc-100 second-color fw-bold border-gray-bar">INSISTENCIA DEL TICKET</h2>
                    
                    </b-col>
                </b-row>


                <b-row v-if="emitTicket.ticket.Status == 'Cerrado' && emitTicket.ticket.reaperturas.length > 0"
                        class="mt-3 mb-3">
                    
                    <!-- button to add recontact -->
                    <b-col class="ta-left">

                        <b-button class="second-background-color bd-none">
                            <b-icon-plus-circle @click="changeShowAddRecontact()"></b-icon-plus-circle>
                        </b-button>
                        <a class="ml-3 third-color cursor-pointer td-underline font-italic" @click="changeShowAddRecontact()">
                            Agregar recontacto
                        </a>  

                    </b-col>

                    <b-col>
                    </b-col>

                    <b-col>
                    </b-col>

                </b-row>

                <b-row class="mt-3 mb-3" v-if="showAddRecontact">
                    
                    <!-- button to add recontact -->
                    <b-col class="ta-left">

                        <b-form-group class="ta-left" id="input-group-3" label="Fecha:" label-for="input-3" >
                            <b-form-datepicker id="example-datepicker" class="mb-2" v-model="emitTicket.new_date" placeholder="YYYY-MM-DD" disabled></b-form-datepicker>
                        </b-form-group>

                    </b-col>

                    <b-col>
                        
                        <b-form-group class="ta-left" id="input-group-3" label="Hora:" label-for="input-3" >
                            <b-form-timepicker v-model="emitTicket.new_hour" locale="en" disabled></b-form-timepicker>
                        </b-form-group>

                    </b-col>

                    <b-col>
                        
                        <b-form-group class="ta-left" id="input-group-3" label="Nota:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="emitTicket.new_note"
                                placeholder="Última actualización"
                                required
                            ></b-form-input>
                        </b-form-group>

                    </b-col>

                </b-row>

               <b-row class="" v-for="(reapertura,index) in emitTicket.ticket.reaperturas" v-bind:key="reapertura">

                    <b-col>

                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Reapertura:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="reapertura.Operador"
                                placeholder="Operador"
                                required
                                disabled
                            ></b-form-input>


                        </b-form-group>
                        
                        <b-form-input 
                            v-else
                            id="input-3"
                            class="mb-3"
                            v-model="reapertura.Operador"
                            placeholder="Operador"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>

                    <b-col>

                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Fecha/Hora:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                :value="reapertura.Fecha_de_creacion + ' ' + reapertura.hora"
                                placeholder="Ultimo estado"
                                required
                                disabled
                            ></b-form-input>


                        </b-form-group>
                        
                        <b-form-input 
                            v-else
                            id="input-3"
                            class="mb-3"
                            :value="reapertura.Fecha_de_creacion + ' ' + reapertura.hora"
                            placeholder="Ultimo estado"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>
                    
                    <b-col>
                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Nota:" label-for="input-3">
                            
                            <b-form-input
                                id="input-3"
                                v-model="reapertura.nota"
                                placeholder="Ultimo estado"
                                required
                                disabled
                            ></b-form-input>


                        </b-form-group>
                        
                        <b-form-input 
                            v-else
                            id="input-3"
                            class="mb-3"
                            v-model="reapertura.nota"
                            placeholder="Ultimo estado"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>

                </b-row>


                <b-row class="mt-3" v-if="emitTicket.ticket.reaperturas.length > 0">
                    <b-col>
                    </b-col>
                    
                    <b-col cols="4">
                        <div class="form-group">
                            <b-button class="w-100 background-fifth-color bd-none" @click="omitirState = !omitirState">Omitir</b-button>
                            <!-- <b-button type="reset" variant="danger">Reset</b-button> -->
                        </div>
                    </b-col>
                    
                    <!-- Solo se muestra el boton de reabrir si el ticket esta cerrado -->
                    <b-col
                        v-if="emitTicket.ticket.Status == 'Cerrado'"
                        cols="4" 
                        class="">
                        <div class="form-group">
                            <b-button class="w-100 background-second-color bd-none" @click="BackSaveData('reopen')">Reabrir</b-button>
                            <!-- <b-button type="reset" variant="danger">Reset</b-button> -->
                        </div>
                    </b-col>
                </b-row>

                <b-row class="mt-3" v-if="omitirState">
                    <b-col>
                    </b-col>
                    
                    <b-col>
                        <b-form-select
                            id="input-omitir-3"
                            v-model="emitTicket.ticket.omit"
                            :options="omitir"
                            required
                        ></b-form-select>
                        </b-col>
                    
                    <b-col class="">
                        <div class="form-group">
                            <b-button class="w-100 background-second-color bd-none" @click="BackSaveData()">Guardar</b-button>
                            <!-- <b-button type="reset" variant="danger">Reset</b-button> -->
                        </div>
                    </b-col>
                </b-row>

                <b-row class="mt-3" v-if="emitTicket.ticket.reaperturas.length > 0">
                    <b-col>
                
                        <h2 class="ta-left fs-porc-100 second-color fw-bold border-gray-bar">ACTUALIZACIONES DEL TICKET</h2>
                    
                    </b-col>
                </b-row>


                <b-row class="" v-for="(reapertura,index) in emitTicket.ticket.reaperturas" v-bind:key="reapertura">
                     <b-col>
                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Estado:" label-for="input-3">
                            
                            <b-form-input
                                id="input-3"
                                v-model="reapertura.status"
                                placeholder="Ultimo estado"
                                required
                                disabled
                            ></b-form-input>


                        </b-form-group>
                        
                        <b-form-input 
                            v-else
                            id="input-3"
                            class="mb-3"
                            v-model="reapertura.status"
                            placeholder="Ultimo estado"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>

                    <b-col>
                        
                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Nº ticket:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="reapertura.nro_ticket"
                                placeholder="Nº ticket"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>


                        <b-form-input
                            v-else
                            id="input-3"
                            class="mb-3"
                            v-model="reapertura.nro_ticket"
                            placeholder="Nº ticket"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>

                    <b-col>
                        
                        <b-form-group v-if="index == 0" class="ta-left" id="input-group-3" label="Última actualización:" label-for="input-3">
                            <b-form-input
                                id="input-3"
                                v-model="reapertura.Fecha_de_último_estado"
                                placeholder="Última actualización"
                                required
                                disabled
                            ></b-form-input>
                        </b-form-group>

                        <b-form-input
                            v-else
                            id="input-3"
                            class="mb-3"
                            v-model="reapertura.Fecha_de_último_estado"
                            placeholder="Última actualización"
                            required
                            disabled
                        ></b-form-input>
                    </b-col>
                </b-row>

                

                <!-- 
                <b-row class="mt-3">
                    <b-col>
                    </b-col>
                    
                    <b-col>
                    </b-col>
                    
                    <b-col class="pd-left-60">
                        <b-button class="w-100 background-second-color bd-none" type="submit">Guardar</b-button>
                    </b-col>
                </b-row>
                 -->
            </b-container>

        </b-form>

        <div v-else>
            Por favor seleccione un ticket en la pestaña <b>TICKETS</b>
        </div>

        <!-- mostrando datos a enviar -->
        <!-- Solo para debug -->
        <!-- 
        <b-card class="mt-3" header="Form Data Result">
            <pre class="m-0">{{ emitTicket }}</pre>
        </b-card>
        -->

    </div>
</template>

<script>
import axiosApi from 'axios'
window.axios = axios
const axios = axiosApi.create({
    // declaring base api url from .env file
    baseURL: process.env.VUE_APP_DEV_API_HOST
})

export default {
    name: "TicketManagement",
    props: [
        'emitTicket',
        'diagnostics',
        'showAddRecontact',
    ],
    data(){
        return {
            form: {
                email: '',
                name: '',
                contract: null,
                client: null,
                checked: []
            },

            actions: [
                { value: null, text: 'Por favor, seleccione una acción' },
                'Comprobante entrega efectuado',
                'Respuesta informados a cliente',
                'Domicilio modificado',
                'Envio de informe calidad a cliente',
                'Improcedente/mal cargado',
                'Pedido en distribucion',
                'Pedido entregado',
                'Se recupera pedido',
                'Derivado a admisiones',
                'Derivado a Auditoría',
                'Derivado a Colecta',
                'Derivado a Comercial',
                'Derivado a Devoluciones',
                'Derivado a XD',
                'Derivado Pickit Back Office',
                'Desvio calidad levantado',
                'Reclamo calidad levantado',
                'Reclamo informado CALIDAD',
                'Siniestrado',
                'Solicitud datos adicionales al cliente',
                'Solicitud de nro. AP al cliente'
            ],

            omitir: [
                { value: null, text: 'Seleccione un motivo de omision' },
                'No aplica',
                'Existe otro ticket',
                'Resuelto',
                'Error',
            ],
            omitirState: false,
            show: true,

            variantLevel2: '',
            requestMessageLevel2: ''
        }
    },
    methods: {
        onSubmit(evt) {
            evt.preventDefault()
            alert(JSON.stringify(this.form))
        },
        onReset(evt) {
            
            evt.preventDefault()
            
            // Reset our form values
            this.form.email = ''
            this.form.name = ''
            this.form.food = null
            this.form.checked = []
            
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
        },
        BackSaveData(from = null) {
            let data = new FormData()

            data.append('email',this.emitTicket.email)
            data.append('Numero_del_Ticket',this.emitTicket.ticket.ticket.Numero_del_Ticket)
            data.append('status',2) // reapertura open ticket always
            data.append('priority',this.emitTicket.ticket.priority)
            data.append('source',this.emitTicket.ticket.source)
            data.append('responder_id',this.emitTicket.responder_id)
            data.append('type',this.emitTicket.ticket.Tipo)
            data.append('subject',this.emitTicket.ticket.subject)
            data.append('reapertura_index',this.emitTicket.ticket.reaperturas_length)
            data.append('typification_attached',this.emitTicket.new_attachment)
            data.append('Servicio',this.emitTicket.ticket.Servicio)

            data.append('reapertura_operador',this.$route.params.responder_id)
            data.append('reapertura_canal',this.emitTicket.ticket.source)
            data.append('reapertura_fecha_de_creacion',this.emitTicket.new_date)
            data.append('reapertura_hora',this.emitTicket.new_hour)
            data.append('reapertura_nota',this.emitTicket.new_note)

            data.append('Accion',this.emitTicket.ticket.Accion)
            data.append('Diagnostico',this.emitTicket.ticket.Diagnostico)
            data.append('note_back',this.emitTicket.ticket.note_back)
            data.append('omit',this.emitTicket.ticket.omit)

            data.append('Canal',this.emitTicket.ticket.email)
            data.append('Operador',this.emitTicket.ticket.email)
            data.append('Fecha_de_creacion',this.emitTicket.ticket.Fecha_de_creacion)
            data.append('Fecha_de_último_estado',this.emitTicket.ticket.Fecha_de_último_estado)
            data.append('Vencimiento',this.emitTicket.ticket.Vencimiento)
            data.append('Submotivo',this.emitTicket.ticket.Submotivo)
            data.append('SLA',this.emitTicket.ticket.SLA)
            data.append('nro_shipment',this.emitTicket.ticket.nro_shipment)
            data.append('note',this.emitTicket.ticket.note)
            data.append('drift',this.emitTicket.ticket.drift)

            // reopening ticket
            if (from == 'reopen') {
                data.append('Status',2)
            }
            else {
                data.append('Status',this.emitTicket.ticket.Status)
            }


            // back data to custom fields
            // conditional to update on back
            if (from == null) 
                data.append('from', 'update_back')

            console.log(data)

            axios({
                method: 'post',
                url: '/api/tickets/update',
                data: data,
                headers: {'Content-Type': 'multipart/form-data' }
            })
            .then(response => {

                if (response.data.status == 'success' && response.status == 200) {
                    this.variantLevel2 = 'success',
                    this.requestMessageLevel2 = 'Ticket Actualizado correctamente'

                    // cleaning variables from emit ticket
                    this.emitTicket.new_date = ''
                    this.emitTicket.new_hour = ''
                    this.emitTicket.new_note = ''
                    this.emitTicket.new_attachment = ''
                }
                else 
                {
                    this.variantLevel2 = 'danger',
                    this.requestMessageLevel2 = 'Error al actualizar el ticket, favor comuniquese con su supervisor'
                }

                this.showResponseMessage = true

            })
            .catch(error => {
                console.log(error)
            })
            
        },
        downloadWithVueResource(url) { // debemos probar la descarga de archivos
        
            // esto se debe borrar despues de probar la funcionalidad en produccion
            console.log('*******************************************************')
            console.log('downloadWithVueResource')
            console.log('*******************************************************')
            console.log('url')
            console.log('*******************************************************')
            console.log(url)
            console.log('*******************************************************')

            this.$http({
                method: 'get',
                url: url,
                responseType: 'arraybuffer'
            })
            .then(response => {
                this.forceFileDownload(response)  
            })
            .catch(() => console.log('error occured'))
        },
        changeShowAddRecontact() {
            
            console.log(this.showAddRecontact)
            this.$emit('changeShowAddRecontact', true)

        }
    }
}
</script>