<template>
    <div class="mt-5 mb-5">

        <b-row class="mt-2 mb-2 ai-center m-0">
            <b-col cols="2">
                Seleccione para ver:
            </b-col>


            <b-col class="ta-left" cols="6">
                <b-form-group label="" class="m-0">
                    <b-form-radio-group id="radio-group-2" v-model="selected_tickets" name="radio-sub-component">

                        <b-form-radio value="asigned">Tickets asignados</b-form-radio>

                        <b-form-radio value="not-asigned">Tickets sin asignar</b-form-radio>

                    </b-form-radio-group>
                </b-form-group>
            </b-col>

            <b-col v-if="showLoadMessageMain">
                <!-- <b-alert  show variant="success">
                    Se esta cargando el ticket seleccionado, por favor espere un momento.
                </b-alert> -->
            </b-col>

        </b-row>

        <!-- status colores sidebar no full -->
        <b-row class="mt-2 mb-2 ai-center m-0">

            <b-col cols="2">

                <b-button class="second-background-color bd-none float-button w-100"
                    v-on:click="emitSideBarTicketFilterStatus()">
                    <b-icon-search></b-icon-search>
                    Filtros
                </b-button>

            </b-col>

            <b-col cols="1">
                <div class="oval bg-orange"></div>
                Abierto
            </b-col>

            <b-col cols="1">
                <div class="oval bg-yellow"></div>
                Pendiente
            </b-col>

            <b-col cols="1">
                <!-- <div class="oval bg-green"></div>
                Cerrado -->
            </b-col>


            <!-- <b-col cols="1">
                <div class="oval bg-black-blue"></div>
                Recontacto
            </b-col> -->
        </b-row>

        <div v-if="this.backItems.length > 0">
            <b-row class="m-0" v-if="selected_tickets == 'asigned'">

                <b-col class="ofx-scroll">
                    <b-table id="back-table" striped hover :items="filteredItems" :fields="fields" :per-page="backPerPage"
                        :current-page="backCurrentPage" @filtered="onFiltered" @row-clicked="myRowClickHandler">

                        <template :slot="`HEAD_${ key }`" v-for="key in fieldKeys" slot-scope="data">
                            <b v-bind:key="key">{{ data.label }}</b>
                            <select class="form-control form-control-sm" @click.stop.prevent v-model="selectVal[key]"
                                v-bind:key="key">
                                <option :value="undefined">--</option>
                                <option :value="option" v-for="option in options[key]" :key="option">{{ option }}</option>
                            </select>
                        </template>

                        <!-- A custom formatted column -->
                        <template v-slot:cell(ticket)="data">
                            <div class="oval" v-bind:class="data.value.Estado_del_Ticket"></div>
                            <p class="inline-txt ml-2">{{ data.value.Numero_del_Ticket }} </p>
                        </template>

                        <template v-slot:cell(actions)="row">
                            <b-button size="sm" class="px-7" @click="row.toggleDetails"
                                v-if="row.item.reaperturas.length > 0">
                                {{ row.detailsShowing ? '-' : '+' }}
                            </b-button>
                        </template>

                        <template v-slot:row-details="row">
                            <b-card>
                                <div class="mb-3" v-for="(reapertura, key) in row.item.reaperturas" :key="key">
                                    <h4 class="ta-left">Reapertura {{ key+1 }}</h4>
                                    <b-row>
                                        <b-col v-for="(value, key) in reapertura" :key="key">
                                            <spam class="fw-bold">{{key}}:</spam>
                                            <br>
                                            {{value}}
                                        </b-col>
                                    </b-row>
                                </div>
                            </b-card>
                        </template>

                    </b-table>

                    <b-pagination class="ta-right" v-model="backCurrentPage" :total-rows="backTotalRows"
                        :per-page="backPerPage" first-text="Primera" prev-text="Anterior" next-text="Siguiente"
                        last-text="Ultima">
                    </b-pagination>

                </b-col>
            </b-row>
        </div>


        <div v-if="this.backItemsNotAsigned.length > 0">
            <b-row class="m-0" v-if="selected_tickets == 'not-asigned'">
                <b-col class="ofx-scroll">

                    <b-table id="back-table" striped hover :items="filteredNotAssignedItems" :fields="fields" :per-page="backPerPage"
                        :current-page="backCurrentPageNotAssignet" @filtered="onFiltered" @row-clicked="myRowClickHandler">

                        <template :slot="`HEAD_${ key }`" v-for="key in optionsNotAssignet" slot-scope="data">
                            <b v-bind:key="key">{{ data.label }}</b>
                            <select class="form-control form-control-sm" @click.stop.prevent v-model="selectVal[key]"
                                v-bind:key="key">
                                <option :value="undefined">--</option>
                                <option :value="option" v-for="option in optionsNotAssignet[key]" :key="option">{{ option }}</option>
                            </select>
                        </template>

                        <!-- A custom formatted column -->
                        <template v-slot:cell(ticket)="data">
                            <div class="oval" v-bind:class="data.value.Estado_del_Ticket"></div>
                            <p class="inline-txt ml-2">{{ data.value.Numero_del_Ticket }} </p>
                        </template>

                        <template v-slot:cell(actions)="row">
                            <b-button size="sm" class="px-7" @click="row.toggleDetails"
                                v-if="row.item.reaperturas.length > 0">
                                {{ row.detailsShowing ? '-' : '+' }}
                            </b-button>
                        </template>

                        <template v-slot:row-details="row">
                            <b-card>
                                <div class="mb-3" v-for="(reapertura, key) in row.item.reaperturas" :key="key">
                                    <h4 class="ta-left">Reapertura {{ key+1 }}</h4>
                                    <b-row>
                                        <b-col v-for="(value, key) in reapertura" :key="key">
                                            <spam class="fw-bold">{{key}}:</spam>
                                            <br>
                                            {{value}}
                                        </b-col>
                                    </b-row>
                                </div>
                            </b-card>
                        </template>

                    </b-table>

                    <b-pagination 
                        class="ta-right" 

                        v-model="backCurrentPageNotAssignet" 

                        :total-rows="backTotalRowsNotAssigned"
                        :per-page="backPerPage" 

                        first-text="Primera" 
                        prev-text="Anterior" 
                        next-text="Siguiente"
                        last-text="Ultima">
                    </b-pagination>

                </b-col>

            </b-row>
        </div>

    </div>
</template>

<script>
    // defining axios to http requests
    import axiosApi from 'axios'
    window.axios = axios
    const axios = axiosApi.create({
        // declaring base api url from .env file
        baseURL: process.env.VUE_APP_DEV_API_HOST
    })

    export default {
        name: "Ticket",
        props: {
            backItems: {
                type: Array,
                // required: true
            },
            backFilterData: {
                type: Object,
                // required: true
            },
            backFilteredOn: {
                type: Array
            },

            sideBarTicketFilterStatus: {
                type: Boolean,
                // required: true
            },
            // backTotalRows: {
            //     type: Number,
            //     required: true
            // },
            backItemsNotAsigned: {
                type: Array,
                // required: true
            },
            showLoadMessageMain : {
                type: Boolean
            }
        },
        data() {
            return {
                value: '',
                backOfficeID: 61001112306,
                form: {
                    email: '',
                    name: '',
                    contract: null,
                    client: null,
                    checked: []
                },
                contracts: [{
                    text: 'Cliente B2C',
                    value: null
                }, 'Contrato 1', 'Contrato 2', 'Contrato 3', 'Contrato 4'],
                clients: [{
                    text: 'Seleccionar Cliente',
                    value: null
                }, 'Cliente 1', 'Cliente 2', 'Cliente 3', 'Cliente 4'],
                show: true,
                fields: [{
                        key: 'actions',
                        label: 'Detalles'
                    },
                    {
                        key: 'ticket',
                        label: 'Estado del Ticket',
                        sortable: true,
                        sortDirection: 'desc'
                    },
                    {
                        key: 'Operador',
                        label: 'Operador',
                        sortable: true,
                        class: 'text-center'
                    },
                    {
                        key: 'Canal',
                        label: 'Canal',
                        sortable: true,
                        class: 'text-center'
                    },
                    {
                        key: 'Fecha_de_creacion',
                        label: 'Fecha de creacion',
                        sortable: true,
                        class: 'text-center'
                    },
                    {
                        key: 'Fecha_de_último_estado',
                        label: 'Fecha de último estado',
                        sortable: true,
                        class: 'text-center'
                    },
                    {
                        key: 'Vencimiento',
                        label: 'Vencimiento',
                        sortable: true,
                        class: 'text-center'
                    },
                    {
                        key: 'Servicio',
                        label: 'Servicio',
                        sortable: true,
                        class: 'text-center'
                    },
                    {
                        key: 'Tipo',
                        label: 'Tipo',
                        sortable: true,
                        class: 'text-center'
                    },
                    {
                        key: 'motivo',
                        label: 'Motivo',
                        sortable: true,
                        class: 'text-center'
                    },
                    {
                        key: 'Submotivo',
                        label: 'Submotivo',
                        sortable: true,
                        class: 'text-center'
                    },
                    {
                        key: 'Diagnostico',
                        label: 'Diagnostico',
                        sortable: true,
                        class: 'text-center'
                    },
                    {
                        key: 'Accion',
                        label: 'Acción',
                        sortable: true,
                        class: 'text-center'
                    },
                    {
                        key: 'SLA',
                        label: 'SLA',
                        sortable: true,
                        class: 'text-center'
                    }
                ],

                backPerPage: 10,
                backCurrentPage: 1,

                backCurrentPageNotAssignet: 1,

                // selectVal: this.backFilterData.filtersValue,
                // selectVal: {
                //     ticket: undefined,
                //     Operador: undefined,
                //     Canal: undefined,
                //     Fecha_de_creacion: undefined,
                //     Fecha_de_último_estado: undefined,
                //     Vencimiento: undefined,
                //     Servicio: undefined,
                //     Tipo: undefined,
                //     motivo: undefined,
                //     Submotivo: undefined,
                //     Diagnostico: undefined,
                //     Accion: undefined,
                //     Status: undefined,
                //     SLA: undefined,
                //     nro_shipment: undefined,
                //     note: undefined,
                //     drift: undefined,
                //     reaperturas: undefined
                // },

                ticketsFilterSideBar: false,
                emitTicket: {
                    showForm: false,
                    ticket: {}
                },
                selected_tickets: 'asigned',
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()
                alert(JSON.stringify(this.form))
            },
            onReset(evt) {

                evt.preventDefault()

                // Reset our form values
                this.form.email = ''
                this.form.name = ''
                this.form.food = null
                this.form.checked = []

                // Trick to reset/clear native browser form validation state
                this.show = false
                this.$nextTick(() => {
                    this.show = true
                })
            },
            // onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            // this.backTotalRows = filteredItems.length
            // this.backCurrentPage = 1
            // },
            sideBarEffects() {
                this.sideBarEffect = !this.sideBarEffect
            },
            emitSideBarTicketFilterStatus() {
                this.$emit('update', this.sideBarTicketFilterStatus)
            },
            backCurrentPageFunction() {
                this.backCurrentPage = 1
                this.backCurrentPageNotAssignet = 1
            },
            myRowClickHandler(record, index) {

                console.log(record)
                console.log(index)
                
                let ticket_number = record.ticket.Numero_del_Ticket
                this.$emit('ticketEmit', ticket_number)

            },
        },
        computed: {
            // Con este metodo se filtran los tickets del 
            filteredItems() {
                return this.backItems.filter(item => {
                    let keep = true

                    console.log('*****************************************************************************************')
                    console.log(this.backFilteredOn)
                    console.log(item)
                    console.log('*****************************************************************************************')

                    // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. 
                    // If a key was missing, it defaulted to straight equality.
                    if (this.backFilteredOn.length > 0) {

                        this.backFilteredOn.forEach(key => {
                            
                            console.log(this.backFilterData[key])
                            if (key === 'ticket') {
                                keep = keep && (this.backFilterData[key] === undefined || item[key] === this.backFilterData[key] || item.ticket.Numero_del_Ticket.toString().includes(this.backFilterData[key]) )
                            }
                            else {
                                keep = keep && (this.backFilterData[key] === undefined || item[key] === this.backFilterData[key] || item[key].toUpperCase().includes(this.backFilterData[key].toUpperCase()) )
                            }

                            if (!keep)
                                this.backCurrentPageFunction()

                        })

                        // original algorithm
                        // this.fieldKeys.forEach(key => {
                        //     keep = keep && (this.backFilterData[key] === undefined || item[key] === this.backFilterData[key])
                        //     if (!keep)
                        //         this.backCurrentPageFunction()
                        // })

                    }

                    return keep
                })
            },
            filteredNotAssignedItems() {
                return this.backItemsNotAsigned.filter(item => {
                    let keep = true

                    // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. 
                    // If a key was missing, it defaulted to straight equality.
                    if (this.backFilteredOn.length > 0) {

                        this.backFilteredOn.forEach(key => {
                            
                            // console.log(this.backFilterData[key])
                            if (key === 'ticket') {
                                keep = keep && (this.backFilterData[key] === undefined || item[key] === this.backFilterData[key] || item.ticket.Numero_del_Ticket.toString().includes(this.backFilterData[key]) )
                            }
                            else {
                                if (item[key] === null) {
                                    keep = keep && (this.backFilterData[key] === undefined || item[key] === this.backFilterData[key] )
                                }
                                else {
                                    keep = keep && (this.backFilterData[key] === undefined || item[key] === this.backFilterData[key] || item[key].toUpperCase().includes(this.backFilterData[key].toUpperCase()) )
                                }
                            }

                            if (!keep)
                                this.backCurrentPageFunction()

                        })

                        // original algorithm
                        // this.fieldKeys.forEach(key => {
                        //     keep = keep && (this.backFilterData[key] === undefined || item[key] === this.backFilterData[key])
                        //     if (!keep)
                        //         this.backCurrentPageFunction()
                        // })

                    }

                    return keep
                })
            },
            fieldKeys() {
                console.log(Object.keys(this.backItems[0]))
                return Object.keys(this.backItems[0])
            },
            fieldKeysNotAssignet() {
                console.log(Object.keys(this.backItemsNotAsigned[0]))
                return Object.keys(this.backItemsNotAsigned[0])
            },
            options() {
                console.log('options')
                // This could be simplified if the select was it's own component.
                const options = {}
                console.log(this.fieldKeys)
                this.fieldKeys.forEach(key => {
                    const vals = this.backItems.map(item => item[key])

                    // Cheap and efficient unique.
                    options[key] = Array.from(new Set(vals))
                })

                console.log(options)
                return options
            },
            optionsNotAssignet() {
                console.log('options')
                // This could be simplified if the select was it's own component.
                const options = {}
                console.log(this.fieldKeysNotAssignet)
                this.fieldKeysNotAssignet.forEach(key => {
                    const vals = this.backItems.map(item => item[key])

                    // Cheap and efficient unique.
                    options[key] = Array.from(new Set(vals))
                })

                console.log(options)
                return options
            },
            backTotalRows() {
                console.log(this.filteredItems.length)
                return this.filteredItems.length
            },
            backTotalRowsNotAssigned() {
                console.log(this.filteredNotAssignedItems.length)
                return this.filteredNotAssignedItems.length
            }
        },
        created() {        

            let date = new Date();
            this.emitTicket.new_hour = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()
            this.emitTicket.new_date = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDay()

        }
    }
</script>