.main-route
  text-decoration: none!important

.breadcrumb
  background-color: #fff

.breadcrumb-item
  font-weight: normal
  text-decoration-line: none 

.breadcrumb-item.active
  font-weight: bold
  color: $primary-color
  text-decoration-line: underline

.main-route
  font-weight: bold
  text-decoration-line: underline

.info-content img
  width: 100%!important

.title-content
  border-bottom: 1px solid #92a4b2
  margin-bottom: 7px
  word-wrap: break-word
  padding: 0
  margin: 0 0 20px 0

#info-table 
  thead
    display: none!important

  td
    border: none

