.nav-link
  color: $primary-color

.nav-link.active
  color: $second-color
  font-weight: bold

a, a:hover
  color: $primary-color

#attachment-new-ticket .bv-no-focus-ring
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: stretch
  width: 100%

.custom-file-input ~ .custom-file-label[data-browse]::after
  background-color: $second-color
  color: white
  content: url('../assets/icons/attach@2x.png')
  border-radius: 0px

.form-control,
.custom-file-label,
.custom-select,
.btn 
  border-radius: 0px!important

.form-control:focus,
.custom-select:focus,
.form-control.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus,
.custom-file-input:focus ~ .custom-file-label,
.btn-secondary:focus, .btn-secondary.focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.show > .btn-secondary.dropdown-toggle:focus,
.page-link:focus
  border-color: $second-color
  box-shadow: 0 0 0 0.2rem rgba(7, 206, 185, 0.25)

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle
  background-color: $second-color

.no-gutters > .col, .no-gutters > [class*="col-"]
  outline: none

.btn-outline-primary:hover
  background-color: $second-color

.btn-outline-primary
  color: $second-color

.nav-link,
.btn.border-0.rounded-circle.text-nowrap.focus.active.btn-primary.font-weight-bold
  outline: none


.page-item.active .page-link
  background-color: $second-color
  border-color: $second-color

.page-link
  color: $second-color

.page-item.active .page-link
  color: white!important

.page-item.disabled .page-link
    color: #6c757d!important

.custom-control-label::before,
.custom-control-label::after
  top: 0!important

.custom-control-input:checked ~ .custom-control-label::before
  background-color: #07ceb9
  border-color: #07ceb9