#full-side-table th
  color: #fff
  background-color: $fourth-color

#sidebar-2,
#full-side-table tr
    background-color: #fff!important

.filters.b-sidebar
    width: 350px!important

.btn-info:focus, 
.btn-info.focus
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0)!important

.filter-button-1
    text-align: left
    display: inline-block
    width: 90%

.filter-button-2
    display: inline-block
    width: 10%