@font-face
  font-family: "ProximaNova-Bold"
  src: url('fonts/ProximaNova-Bold.otf') format('opentype')

@font-face
  font-family: "ProximaNova-Light"
  src: url('fonts/ProximaNova-Light.otf') format('opentype')

@font-face
  font-family: "ProximaNova-LightItalic"
  src: url('fonts/ProximaNova-LightItalic.otf') format('opentype')

@font-face
  font-family: "ProximaNova-Regular"
  src: url('fonts/ProximaNova-Regular.otf') format('opentype')

@font-face
  font-family: "ProximaNova-RegularItalic"
  src: url('fonts/ProximaNova-RegularItalic.otf') format('opentype')