// Global styles
// estilos que afecatan en todos los componentes
body, input
  font: 100% $font-stack!important
  color: $primary-color

#app
  font: 100% $font-stack!important
  color: $primary-color

.second-color
  color: $second-color

.third-color
  color: $third-color

.sixth-color
  color: $sixth-color

.background-second-color
  background-color: $second-color

.background-fifth-color
  background-color: $fifth-color

.bg-white
  background-color: #fff

p
  margin: 0!important

.inline-flex
  display: inline-flex

p.inline-txt
  display: inline

.ta-left
  text-align: left

.ta-right
  text-align: right

.fw-bold
  font-weight: bold

.bd-none
  border: none!important

.cursor-pointer
  cursor: pointer

button.second-background-color,
.btn.second-background-color.btn-secondary,
.second-background-color
  background-color: $second-color

.icon-size
  width: 17px
  height: 17px

.float-button
  margin-right: 20px

.ml-rem1
  margin-left: 1rem

.fs-porc-100
  font-size: 100%

.border-gray-bar
  border-bottom: solid 1px #979797

.w-100
  width: 100%

.w-15
  width: 15px

.w-150-px
  width:150px

.pd-left-60
  padding-left: 60px

.pd-left-30
  padding-left: 30px

.cursor-pointer
  cursor: pointer

.td-underline
  text-decoration-line: underline!important

.font-italic
  font-family: $font-stack-italic

.ai-center
  align-items: center

.px-15
  padding: 0 15px

.bb-1-solid-ccc
  border-bottom: 1px solid #979797!important

.px-0
  padding-left: 0!important
  padding-right: 0!important

.px-7
  padding: 0 7px!important

.d-b
  display: block!important

.ofx-scroll
  overflow-x: scroll

.dn
  display: none!important
  transition: .3s ease-in-out

.alert.alert-success
  transition: .3s ease-in-out

.main-wrapper
  height: 100vh

.section
  height: 100%  
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.input-center-300
  width: 300px!important
  text-align: center!important

// Se apunta solo al segundo hijo
.b-overlay.position-absolute .position-absolute:nth-child(2)
  top: 65%!important

.clients-select div
  border-radius: 0!important
  height: calc(1.5em + 0.75rem + 2px)!important