// editing sidebar to horizontal transition 
.b-sidebar
  width: 550px
  transition: .3s ease-in-out

.transition-bar
  transition: .3s ease-in-out

.sidebar_effect
  margin-left: 550px!important
  transition: .3s ease-in-out

.b_sidebar_100
  width: 100%!important
  transition: .3s ease-in-out

.full_sidebar_effect
  margin-left: 100%
  transition: .3s ease-in-out

#side-table th
  color: #fff
  background-color: $fourth-color

#sidebar-1,
#side-table tr
    background-color: #fff!important


#side-table tbody tr,
#full-side-table tbody tr,
#back-table tbody tr
  cursor: pointer

.oval
  display: inline-block
  border-radius: 50%
  width: 10px
  height: 10px

.bg-yellow
  background-color: #fffc13

.bg-blue
  background-color: #10d4d3


.bg-black-blue
  background-color: #0c60f5


.bg-orange
  background-color: #f5870c

.bg-green
  background-color: #00ee6b



.black,
.black:hover
  color: black!important

.btn.bg-white.black.bd-none.ml-1.btn-secondary:focus
  border-color: #fff !important
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25)!important

#sidebar-1.b_sidebar_100.sidebar_effect
  margin-left: 350px!important