<template>
  <div class="about">
    <h1>This is an about page</h1>

    <!-- div no se mostrara al menos que "requestStatus == true" -->
    <div v-if="requestStatus">

      <!-- imprimiendo ejemplo con bitcoin api -->
      <h1>{{usdRequestString}}</h1>
      <h1>{{coin}}</h1>
      <h1>{{description}}</h1>
    
      <button v-on:click="clickExample('Evento hecho')">metodo click</button>

      <h1>{{clickMessage}}</h1>

    </div>

    <div v-else> 
      Error con el request.
    </div>

  </div>
</template>

<script>
import axiosApi from 'axios'

window.axios = axios

const axios = axiosApi.create({
  // declarando ruta del API mediante variables .env
  baseURL: process.env.VUE_APP_DEV_API_HOST+':'+process.env.VUE_APP_DEV_API_PORT, 
})

export default {
  name: 'About',
  data: () => {
    return {
      requestStatus: false,
      mainResponse: {},
      usdRequestString: '',
      coin: '',
      description: '',
      clickMessage: ''
    }
  },
  methods: {
    clickExample (clickMessage) {
      this.clickMessage = clickMessage
    },
  },
  mounted () {
    axios.get('https://api.coindesk.com/v1/bpi/currentprice.json')
      .then(response => {
        
        this.mainResponse = response
        
        // validacion para mostrar script
        this.requestStatus = this.mainResponse.status == 200 ? true : false

        // parsing request to local variables
        this.usdRequestString = this.mainResponse.data.bpi.USD
        this.coin = this.mainResponse.data.bpi.USD.code
        this.description = this.mainResponse.data.bpi.USD.description
      }
    )
  },

}
</script>
