
<template name="OcasaHome">
    <div>
        <div v-if="authenticated == 'true' || authenticated == true" 
            class="mt-4 transition-bar" 
            v-bind:class="{ 
                sidebar_effect : sideBarHistoryStatus,
                full_sidebar_effect : fullHistorySideBar, 
                filter_sidebar_effect : sideBarTicketFilterStatus 
            }"
        >

            <!-- SideBar component -->
            <side-bar 
                :items="items" 
                :fullItems="fullItems" 
                :sideBarHistoryStatus="sideBarHistoryStatus" 
                :fullHistorySideBar="fullHistorySideBar" 

                :showLoadMessage="showLoadMessage"
                :isBusySmall="isBusySmall"
                :isBusyFull="isBusyFull"

                :totalRows="totalRows"
                :fullTotalRows="fullTotalRows"

                :currentPage="currentPage"
                :fullCurrentPage="fullCurrentPage"

                
                :backFilterDataFromTicket="backFilterDataFromTicket"
                :backFilteredOnFromTicket="backFilteredOnFromTicket"

                @updateFull="getFullSideBarStatus"
                @backFilterFromTickets="getBackFilterFromTickets"

            ></side-bar>

            <!-- BackOffice Agent Tickets Filter component -->
            <tickets-filter 
                :sideBarTicketFilterStatus="sideBarTicketFilterStatus"
                @backFilter="getBackFilter"
            ></tickets-filter>

            <div class="ta-right">
                <b-button 
                    class="second-background-color bd-none float-button"
                    @click="log_out()">
                    Cerrar Sesión
                </b-button>
            </div>

            <b-tabs content-class="mt-3" v-model="tabIndex">
                

                <!-- button to sideBar component - SideBar -->
                <div class="ta-right">
                    <b-button v-on:click="reloadTickets()" 
                        class="second-background-color bd-none float-button" 
                        v-bind:disabled="refreshButtonactiveAssigned || refreshButtonactiveNotAssigned">
                    
                        Refrescar
                    </b-button>
                    
                    <b-button v-on:click="sideBarHistoryStatusEffect()" class="second-background-color bd-none float-button" >Historial del cliente</b-button>
                </div>

                
                <b-overlay
                    v-if="showTicketsMessage || showTicketsMessageNotAssigned"
                    id="overlay-background"
                    show
                    :variant="variant"
                    :opacity="opacity"
                    :blur="blur"
                    rounded="sm"
                >
                    <template v-slot:overlay style="top:60%!important;">
                        <b-spinner small type="grow" variant="secondary" style="top: 60%!important"></b-spinner>
                        <b-spinner type="grow" variant="dark" style="top: 60%!important"></b-spinner>
                        <b-spinner small type="grow" variant="secondary" style="top: 60%!important"></b-spinner>
                    </template>

                    <div >
                        <p style="padding:100px; margin-top:50px!important;">
                            Se esta cargando el listado de tickets, por favor espere un momento.
                        </p>
                    </div>
                </b-overlay>

                
                
                <b-tab @click="getBackOfficeTableData();getBackOfficeTableNotAsignedData();" active>
                    <!-- Tab Header -->
                    <template v-slot:title>
                        <b-icon-check class="mr-2 icon-size"></b-icon-check>
                        <p class="inline-txt">TICKETS</p>
                    </template>

                    <!-- tab content -->
                    <tickets v-if="backItemsNotAsigned.length != 0 || backItemsNotAsigned.length != 0"
                        :backItems="backItems" 
                        :backTotalRows="backTotalRows"

                        :backFilterData="backFilterData"
                        :backFilteredOn="backFilteredOn"

                        :sideBarTicketFilterStatus="sideBarTicketFilterStatus" 

                        :backItemsNotAsigned="backItemsNotAsigned"
                        :backTotalRowsNotAsigned="backTotalRowsNotAsigned"

                        :showLoadMessageMain="showLoadMessageMain"

                        @ticketEmit="getEmitTicket"
                        @update="getSideBarTicketFilterStatus"
                    ></tickets>

                    <div v-if="showLoadMessageNoTickets">
                        No hay Tickets para asignar
                    </div>

                </b-tab>
                
                <b-tab title="Nuevo Ticket" @click="sideBarTicketFilterStatus = false">
                    <!-- Tab Header -->
                    <template v-slot:title>
                        <b-icon-person-check class="mr-2 icon-size"></b-icon-person-check>
                        <p class="inline-txt">GESTIÓN TICKET</p>
                    </template>

                    <!-- tab content -->
                    <ticket-management 
                        :emitTicket="emitTicket" 
                        :diagnostics="diagnostics"
                        :showAddRecontact="showAddRecontact"

                        @changeShowAddRecontact="changeShowAddRecontact"
                    >
                    </ticket-management>
                </b-tab>

                <b-tab title="Base de conocimiento" @click="sideBarTicketFilterStatus = false">
                    <!-- Tab Header -->
                    <template v-slot:title>
                        <b-icon-info-circle class="mr-2 icon-size"></b-icon-info-circle>
                        <p class="inline-txt">Base de conocimiento</p>
                    </template>

                    <!-- tab content -->
                    <base-infos ></base-infos>
                </b-tab>

            </b-tabs>
        </div>

        <!-- BackOffice no login yet -->
        <div v-else>
            <back-office-login :authenticated="authenticated" @isAuthenticated="isAuthenticated"></back-office-login>
        </div>

    </div>
</template>
<script>

// importing ocasa components
// "@"" is an alias to "/src"
import BaseInfos from "@/components/ocasa/back/BaseInfos"
import TicketManagement from "@/components/ocasa/back/TicketManagement"
import SideBar from "@/components/ocasa/back/SideBar"
import Tickets from "@/components/ocasa/back/Tickets"
import TicketsFilter from '@/components/ocasa/back/TicketsFilter'
import BackOfficeLogin from '@/components/ocasa/back/BackOfficeLogin'


// importing and configuring base axios
import  axiosApi from 'axios'
window.axios = axios
const axios = axiosApi.create({
    // declaring base api url from .env file
    baseURL: process.env.VUE_APP_DEV_API_HOST
})


export default {
    name: 'BackOffice',
    components:{BaseInfos,SideBar,TicketManagement,Tickets,TicketsFilter,BackOfficeLogin},

    data: () => {
        return {
            tabIndex: 0,

            authenticated: null,


            sideBarEffect: SideBar.data.localShow,
            ticketsFilterSideBarEffect: TicketsFilter.data.localShow,


            fullHistorySideBar: false,
            sideBarTicketFilterStatus: false,
            sideBarHistoryStatus: false,
            
            showLoadMessage: true,

            isBusySmall:true,
            isBusyFull:true,

            totalRows: 1,
            fullTotalRows:1, 
            currentPage: 1,
            fullCurrentPage: 1,

            // backOfficeID: 61001112306, // id de pruebas
            backOfficeID: null,
            
            showTicketsMessage: true,
            showTicketsMessageNotAssigned: true,
            opacity:0.36,
            blur:'1px',

            // tickets assigned
            backItems: [],
            backTotalRows: 1,
            backFilterData: {
                ticket: undefined,
                Operador: undefined,
                Canal: undefined,
                Fecha_de_creacion: undefined,
                Fecha_de_último_estado: undefined,
                Vencimiento: undefined,
                Servicio: undefined,
                Tipo: undefined,
                motivo: undefined,
                Submotivo: undefined,
                Diagnostico: undefined,
                Accion: undefined,
                Status: undefined,
                SLA: undefined,
                nro_shipment: undefined,
                note: undefined,
                drift: undefined,
                reaperturas: undefined
            },
            backFilteredOn: [],


            backFilterDataFromTicket: {
                ticket: undefined,
                Operador: undefined,
                Canal: undefined,
                Fecha_de_creacion: undefined,
                Fecha_de_último_estado: undefined,
                Vencimiento: undefined,
                Servicio: undefined,
                Tipo: undefined,
                motivo: undefined,
                Submotivo: undefined,
                Diagnostico: undefined,
                Accion: undefined,
                Status: undefined,
                SLA: undefined,
                nro_shipment: undefined,
                note: undefined,
                drift: undefined,
                reaperturas: undefined
            },
            
            backFilteredOnFromTicket: [],

            // tickets NOT assigned
            backItemsNotAsigned: [],
            backTotalRowsNotAsigned: 1,


            emitTicket: {
                showForm: false,
                ticket: {}
            },

            items: [],
            fullItems: [],

            diagnostics: [],

            showLoadMessageMain: false,
            showLoadMessageNoTickets: false,

            timerAsigned: '',
            timerNotAsigned: '',

            refreshButtonactiveAssigned: true,
            refreshButtonactiveNotAssigned: true,

            showAddRecontact: false,
        }
    },
    created() {
    },
    mounted() {
        if (window.localStorage) {
        // localStorage supported
            
            if (localStorage.length > 0) {

                // We have items
                // this.authenticated = localStorage.getItem('authenticated')

                let actual_time = Date.now()
                let old_time = localStorage.getItem('start_time')

                let transcurso = actual_time - old_time;

                if ( transcurso > 28800000 ) 
                //  if ( transcurso > 28 ) 
                { // duracion de 8 horas - limpiamos cache
                    localStorage.clear()
                }

            } 
            else {
                // No items
                // console.log('no hay')

                // localStorage.clear()
                localStorage.setItem('authenticated', false)
                localStorage.setItem('backOfficeID', null)
            }

            // localStorage.clear()    
            
            this.authenticated = localStorage.getItem('authenticated')
            this.backOfficeID = localStorage.getItem('backOfficeID')
            
        }

        if (this.authenticated) {
            this.getBackOfficeTableData() // se comento porque depende del login del agente
            this.getBackOfficeTableNotAsignedData()

            // 300000 = 5 minutes
            this.timerAsigned = setInterval(this.getBackOfficeTableData, 300000)
            this.timerNotAsigned = setInterval(this.getBackOfficeTableNotAsignedData, 300000)
        }

    },
    methods: {
        beforeDestroy () {
            clearInterval(this.timerAsigned)
            clearInterval(this.timerNotAsigned)
        },

        // method to horizontal sidebar-content effect
        isAuthenticated (authenticated) {

            localStorage.setItem('authenticated', authenticated.status);
            this.authenticated = authenticated.status

            // guardando los segundos para comparar el tiempo
            let start_time = Date.now()
            localStorage.setItem('start_time', start_time)
            localStorage.setItem('backOfficeID', authenticated.agent_id)

            // guardando el id del Agente
            this.backOfficeID = authenticated.agent_id
            
            // ejecutando el llamado de la tabla
            this.getBackOfficeTableData()
            this.getBackOfficeTableNotAsignedData()


            console.log(this.authenticated)
        },

        sideBarHistoryStatusEffect() {
            this.sideBarHistoryStatus = !this.sideBarHistoryStatus

            if (this.sideBarTicketFilterStatus) {
                this.sideBarTicketFilterStatus = !this.sideBarTicketFilterStatus
            }
        },

        getFullSideBarStatus(newFullSideBarStatus) {
            this.fullHistorySideBar = !newFullSideBarStatus

        },

        getSideBarTicketFilterStatus(newTicketsFilterStatus) {
            this.sideBarTicketFilterStatus = !newTicketsFilterStatus

            if(this.sideBarHistoryStatus) {
                this.sideBarHistoryStatus = !this.sideBarHistoryStatus
            }
        },


        getBackFilter (backFilter) {
            this.backFilterData = backFilter.filtersValue
            this.backFilteredOn = backFilter.filteredOn

            console.log(this.backFilteredOn)
        },

        
        getBackFilterFromTickets (backFilter) {
            this.backFilterDataFromTicket = backFilter.filtersValue
            this.backFilteredOnFromTicket = backFilter.filteredOn

            console.log(this.backFilteredOn)
        },


        // *************************************************************************************
        // axios requests
        // *************************************************************************************
        getBackOfficeTableData() { // consultando por la tabla principal de back office
            this.refreshButtonactiveAssigned = true

            console.log('getBackOfficeTableData')
            if (this.backOfficeID != null && this.backOfficeID != 'null') {

                // falta obtener el mail para este servicio
                axios.get('/api/freshdesk/tickets/FilterTicketsBack/'+ this.backOfficeID )
                .then( response => {
    
                    this.backItems = response.data 
                    this.backTotalRows = this.backItems.length

                    this.showLoadMessageNoTickets = this.backTotalRows == 0 && this.backTotalRowsNotAsigned == 0
                    
                    console.log("showLoadMessageNoTickets")
                    console.log(this.showLoadMessageNoTickets)
                    console.log(this.backTotalRows)

                    // desactivando mensaje que muestra cuando se estan cargando los datos de la tabla
                    this.showTicketsMessage = false 

                })
                .catch( error => {
                    console.log(error)
                })
                .finally(() => {
                    this.refreshButtonactiveAssigned = false
                })
            }
        },

        getBackOfficeTableNotAsignedData() { // consultando por la tabla principal de back office
            this.refreshButtonactiveNotAssigned = true

            console.log('getBackOfficeTableNotAsignedData')
            if (this.backOfficeID != null && this.backOfficeID != 'null') {

                // falta obtener el mail para este servicio
                axios.post('/api/freshdesk/tickets/filterTicketsBag',{ id:this.backOfficeID }) // se envio el id del usuario back-office
                .then( response => {
    
                    this.backItemsNotAsigned = response.data
                    
                    console.log(this.backItemsNotAsigned)
                    this.backTotalRowsNotAsigned = this.backItemsNotAsigned.length
                    
                    console.log("getBackOfficeTableNotAsignedData")
                    console.log(this.backTotalRowsNotAsigned)
                    this.showLoadMessageNoTickets = this.backTotalRows == 0 && this.backTotalRowsNotAsigned == 0
                    console.log(this.showLoadMessageNoTickets)

                    // desactivando mensaje que muestra cuando se estan cargando los datos de la tabla
                    this.showTicketsMessageNotAssigned = false 

                })
                .catch( error => {
                    console.log(error)
                })
                .finally(() => {
                    this.refreshButtonactiveNotAssigned = false
                })
            }
        },

        getEmitTicket (emitTicket) { // se obtiene evento click desde una de las filas de la tabla principal
            this.showLoadMessageMain = true

            this.isBusySmall = true
            this.isBusyFull = true

            axios.get('/api/freshdesk/tickets/'+ emitTicket)
            .then(response => {

                this.showLoadMessageMain = false
                
                console.log(response.data.data)
                this.emitTicket.ticket = response.data.data

                let date = new Date();
                this.emitTicket.new_hour = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()
                this.emitTicket.new_date = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDay()

                this.emitTicket.ticket.reaperturas_length = this.emitTicket.ticket.reaperturas.length
                this.emitTicket.showForm = true
                
                // se ejecuta metodo para obtener los diagnosticos en base al motivo
                this.setDiagnostics()
                // this.emitTicket.ticket.Diagnostico = null
                // this.emitTicket.ticket.Accion = null
            
                // desapareciendo el mensaje apenas se emite el evento de carga
                console.log('showLoadMessage')
                this.showLoadMessage = false
                console.log(this.showLoadMessage)

                // enviando informacion del ticket al componente TICKETS
                // cambiando a la pestaña 1, TICKETS
                this.emitTicket.responder_id = this.backOfficeID
                this.tabIndex = 1

                // ahora enviaremos los datos a las tabla de historial con el correo de este ticket
                // primero debemos con seguir el correo del cliente
                axios.get('/api/freshdesk/contacts/'+ this.emitTicket.ticket.requester_id)
                .then(response => {

                    this.emitTicket.email = response.data.data.email

                    
                    // luego con el correo del cliente buscamos el historial
                    this.getSmallHistoryTableData(this.emitTicket.email)
                    this.getFullHistoryTableData(this.emitTicket.email)
                })
            })


        },

        getSmallHistoryTableData(clientEmail) { // se consulta por el historial del cliente en base a un email -- tabla small

            axios.post('/api/freshdesk/tickets/filterSmall',{ email:clientEmail })
            .then(response => {
                this.items = response.data

                // variables que debemos asiganar para mostra el mensaje en las tablas
                this.totalRows = this.items.length
                this.isBusySmall = !this.isBusySmall
                this.currentPage = 1

            })
            .catch(error => {

                console.log(error)
            
            })

        },

        getFullHistoryTableData(clientEmail) { // se consulta por el historial del cliente en base a un email -- tabla small

            axios.post('/api/freshdesk/tickets/filterLarge',{ email:clientEmail })
            .then(response => {
                this.fullItems = response.data 

                this.fullTotalRows = this.fullItems.length
                this.isBusyFull = !this.isBusyFull
                this.fullCurrentPage = 1

            })
            .catch(error => {
                console.log(error)

                // comentar 
                this.fullTotalRows = this.fullItems.length
                this.isBusyFull = !this.isBusyFull
            })
            
        },

        setDiagnostics() {
            console.log('setDiagnostics')
            console.log(this.emitTicket.ticket.motivo)

            switch (this.emitTicket.ticket.motivo) {
                case 'Colecta':

                    console.log('case - '+ this.emitTicket.ticket.motivo)

                    this.diagnostics = [
                        { value: null, text: 'Por favor, seleccione un diagnostico' },
                        'Cambio dirección',
                        'Cambio horario',
                        'Colecta no corresponde a OCASA',
                        'Demora de entrega en centro',
                        'Demora en centro (no despachado)',
                        'Demora XD',
                        'Diferencia remitos CO/In hub OCASA',
                        'Excede peso/volumen',
                        'Modificar domicilio de entrega',
                        'No entrega producto',
                        'No recibe maniefiesto retiro (mail)',
                        'Pedido cancelado / Imposible de retiro',
                        'Pedido no recibido en punto',
                        'Pedido no retirado',
                        'Problemas en centro',
                        'Remitos CARRIER sin faltantes',
                        'Remitos OCASA sin faltantes',
                        'Retirada s/ in hub',
                        'Servicio Finalizado',
                        'Sin sistema en centro'
                    ]

                    break;

                case 'Comercial':
                    this.diagnostics = [
                        { value: null, text: 'Por favor, seleccione un diagnostico' },
                        'Envio datos de prospecto'
                    ]
                    break;

                case 'Devoluciones':
                    this.diagnostics = [
                        { value: null, text: 'Por favor, seleccione un diagnostico' },
                        'Modificar domicilio en sistema',
                        'Solicitud comprobante de entrega',
                        'Devolución en auditoría',
                        'Pedido no retirado',
                        'Datos receptor'
                    ]
                    break;

                case 'Estado de entrega':
                    this.diagnostics = [
                        { value: null, text: 'Por favor, seleccione un diagnostico' },
                        'Comprobante de entrega a Carrier',
                        'Devolución pieza duplicada',
                        'Solicitud cancelación',
                        'Comprobante de entrega hoja de ruta',
                        'Retiro en sucursal',
                        'Pedido no recibido en punto',
                        'Retirada s/ in hub',
                        'Fisico no encontrado',
                        'No entrega comprobante',
                        'Diferencia remitos CO/In hub OCASA',
                        'Cruce paquetería OCASA - CARRIER',
                        'Cruce paquetería OCASA - OCASA',
                        'Pedido no despachado centro Drop off',
                        'Pedido no colectado centro Drop off',
                        'Cruce paquetería Puntos Pickit',
                        'Pedido no despachado al Punto Pickit',
                        'Despachado al Punto - Fisico no encontrado',
                        'Despachado al Punto - Fisico vencido',
                        'Despachado al punto- entregado sin cargar en sistema',
                        'Cancelacion de entrega - vencimiento anticipado',
                        'Demora XD',
                        'Remitos CARRIER sin faltantes',
                        'Remitos CARRIER con diferencia Colecta/Inhub'
                    ]
                    break;

                case 'Extranet':
                    this.diagnostics = [
                        { value: null, text: 'Por favor, seleccione un diagnostico' },
                        'Notificado Mesa ayuda'
                    ]
                    break;

                case 'Facturacion':
                    this.diagnostics = [
                        { value: null, text: 'Por favor, seleccione un diagnostico' },
                        'Inconsistencia facturacion'
                    ]
                    break;

                case 'Novedades centro':
                    this.diagnostics = [
                        { value: null, text: 'Por favor, seleccione un diagnostico' },
                        'Cierre definitivo',
                        'Vacaciones',
                        'Cambio dirección'
                    ]
                    break;

                case 'Orden de retiro':
                    this.diagnostics = [
                        { value: null, text: 'Por favor, seleccione un diagnostico' },
                        'Faltan datos',
                        'Orden realizada',
                        'Orden denegada',
                        'Fuera de horario realizada',
                        'Fuera de horario no realizada',
                        'Requiere SAE'
                    ]
                    break;

                case 'Plataforma PICKIT':
                    this.diagnostics = [
                        { value: null, text: 'Por favor, seleccione un diagnostico' },
                        'Notificado Mesa ayuda PICKIT'
                    ]
                    break;

                case 'Plazo vencimiento':
                    this.diagnostics = [
                        { value: null, text: 'Por favor, seleccione un diagnostico' },
                        'Permite cambio',
                        'No permite cambio' 
                    ]
                    break;
            }
        },

        changeShowAddRecontact(showAddRecontactStatus) {
            this.showAddRecontact = showAddRecontactStatus
            console.log(this.showAddRecontact)
        },

        async reloadTickets() {
            await this.getBackOfficeTableData() // se comento porque depende del login del agente
            await this.getBackOfficeTableNotAsignedData()
        },
        log_out() {
            console.log("Begin log_out")
            
            this.authenticated = false

            this.isBusySmall = true
            this.isBusyFull = true

            this.showTicketsMessage = true
            this.showTicketsMessageNotAssigned = true

            this.backItems = []
            this.backItemsNotAsigned = []

            this.backTotalRows = 1
            this.backTotalRowsNotAsigned = 1

            this.showLoadMessageMain = false
            this.showLoadMessageNoTickets = false

            localStorage.clear()
            console.log("End log_out")
        },
        cancelAutoUpdate () { 
            clearInterval(this.timerAsigned) 
            clearInterval(this.timerNotAsigned) 
        }
    }
}
</script>

