
<template name="OcasaHome">

    <div class="mt-4 transition-bar" v-bind:class="{ sidebar_effect : sideBarEffect, full_sidebar_effect : fullSideBar }">

        <!-- SideBar component -->
        <side-bar
            :items="items"
            :totalRows="totalRows"
            :isBusySmall="isBusySmall"

            :fullItems="fullItems"
            :fullTotalRows="fullTotalRows"
            :isBusyFull="isBusyFull"

            :firstCollapsed="firstCollapsed" 
            :fullSideBar="fullSideBar" 

            :frontFilterDataFromTicket="frontFilterDataFromTicket"
            :frontFilteredOnFromTicket="frontFilteredOnFromTicket"

            @update="getFullSideBarFromChild" 
            @ticketEmitSmall="getEmitTicketSmall" 
            @ticketEmitFull="getEmitTicketFull" 

            @frontFilterFromTickets="getfrontFilterFromTickets"
        ></side-bar>

        <b-tabs content-class="mt-3" v-model="tabIndex">
            
            <!-- button to sideBar component -->
            <div class="ta-right">
                <b-button v-on:click="sideBarEffects()" class="second-background-color bd-none float-button" >Historial del cliente</b-button>
            </div>

            <b-tab active>
                <!-- Tab Header -->
                <template v-slot:title>
                    <b-icon-plus-circle class="mr-2 icon-size"></b-icon-plus-circle>
                    <p class="inline-txt">Nuevo Ticket</p>
                </template>

                <!-- tab content -->
                <new-ticket 
                    :clients="clients" 
                    :showOverlay="showOverlay"
                    @createdTicket="createdTicket"
                ></new-ticket>
            </b-tab>

            <b-tab>
                <!-- Tab Header -->
                <template v-slot:title>
                    <b-icon-check class="mr-2 icon-size"></b-icon-check>
                    <p class="inline-txt">TICKET</p>
                </template>

                <!-- tab content -->
                <ticket :emitTicket="emitTicket" :showAddRecontact="showAddRecontact" :showResponseMessage="showResponseMessage" @changeShowAddRecontact="changeShowAddRecontact"></ticket>

            </b-tab>
            

            <b-tab title="Base de conocimiento">
                <!-- Tab Header -->
                <template v-slot:title>
                    <b-icon-info-circle class="mr-2 icon-size"></b-icon-info-circle>
                    <p class="inline-txt">Base de conocimiento</p>
                </template>

                <!-- tab content -->
                <base-infos></base-infos>
            </b-tab>

        </b-tabs>
    </div>
</template>
<script>

// importing ocasa components
// "@"" is an alias to "/src"
import BaseInfos from "@/components/ocasa/front/BaseInfos"
import NewTicket from "@/components/ocasa/front/NewTicket"
import SideBar from "@/components/ocasa/front/SideBar"
import Ticket from "@/components/ocasa/front/Ticket"

// SideBar.forceUpdate()

// importing and configuring base axios
import  axiosApi from 'axios'
window.axios = axios
const axios = axiosApi.create({
    // declaring base api url from .env file
    baseURL: process.env.VUE_APP_DEV_API_HOST
})


export default {
    name: 'FrontOffice',
    components:{BaseInfos,SideBar,NewTicket,Ticket},
    data: () => {
        return {
            sideBarEffect: SideBar.data.localShow,
            firstCollapsed: false,
            fullSideBar: false,

            showAddRecontact: false,
            showResponseMessage: false,
            emitTicket: {
                showForm: false,
                ticket: {}
            },
            tabIndex: 0,

            // data to NewTicket component
            clients:[],
            showOverlay: true,


            frontFilterDataFromTicket: {

                ticket: undefined,
                Operador: undefined,
                Canal: undefined,
                Fecha_de_creacion: undefined,
                Fecha_de_último_estado: undefined,
                Vencimiento: undefined,
                Servicio: undefined,
                Tipo: undefined,
                motivo: undefined,
                Submotivo: undefined,
                Diagnostico: undefined,
                Accion: undefined,
                Status: undefined,
                SLA: undefined,
                nro_shipment: undefined,
                note: undefined,
                drift: undefined,
                reaperturas: undefined
                
            },
            
            frontFilteredOnFromTicket: [],


            showHistory: true,

            // sidebar
            // small
            items: null,
            totalRows: 1,
            isBusySmall: true,

            // full
            fullItems: null,
            fullTotalRows: 1,
            isBusyFull: true,
        }
    },
    methods: {
        // method to horizontal sidebar-content effect
        sideBarEffects() {
            this.sideBarEffect = !this.sideBarEffect
            this.firstCollapsed = !this.firstCollapsed
        },
        getFullSideBarFromChild(newFullSideBar) {
            this.fullSideBar = newFullSideBar
        },
        getEmitTicketSmall(ticketData) {

            this.showAddRecontact = false
            this.emitTicket = ticketData

            // cleaning variables from emit ticket
            // this.emitTicket.new_date = ''
            // this.emitTicket.new_hour = ''
            this.emitTicket.new_note = ''
            this.emitTicket.new_attachment = ''
            this.showResponseMessage = false

            this.tabIndex = 1
        },
        getEmitTicketFull(ticketData) {
            
            this.showAddRecontact = false
            this.emitTicket = ticketData

            // cleaning variables from emit ticket
            // this.emitTicket.new_date = ''
            // this.emitTicket.new_hour = ''
            this.emitTicket.new_note = ''
            this.emitTicket.new_attachment = ''
            this.showResponseMessage = false


            this.tabIndex = 1

            this.sideBarEffects()
        },
        changeShowAddRecontact(showAddRecontactStatus) {
            this.showAddRecontact = showAddRecontactStatus
        },
        setClientsOptions () {
        
            axios.get('/api/freshdesk/companies')
            .then(response => {

                let requestClients = response.data

                this.clients = [{ text: 'Seleccionar un cliente', value: null }]
                for (var client of requestClients) {
                    this.clients.push(client)
                }

                this.showOverlay = false
            })
            .catch(error => {
                console.log(error)
            })

        },


        getfrontFilterFromTickets (frontFilter) {
            this.frontFilterDataFromTicket = frontFilter.filtersValue
            this.frontFilteredOnFromTicket = frontFilter.filteredOn

            console.log("getfrontFilterFromTickets")
            console.log(this.frontFilterDataFromTicket)
            console.log(this.frontFilteredOnFromTicket)
        },

        createdTicket() {
            console.log('createdTicket')

            this.getSmallHistoryTableData()
            this.getFullHistoryTableData()
        },

        // ************************************************************************************************
        // AXIOS
        // ************************************************************************************************
        getSmallHistoryTableData() {
            this.isBusySmall = true
            axios.post('/api/freshdesk/tickets/filterSmall',{ email:this.$route.params.email })
            .then(response => {
                this.items = response.data
                this.totalRows = this.items.length
                this.isBusySmall = false
                
                // console.log(response.data)
            })
            .catch(error => {
                console.log(error)
            })
        },
        getFullHistoryTableData() { 
            this.isBusyFull = true
            axios.post('/api/freshdesk/tickets/filterLarge',{ email:this.$route.params.email })
            .then(response => {
                this.fullItems = response.data 
                this.fullTotalRows = this.fullItems.length
                this.isBusyFull = false
                
                // console.log(response.data)
            })
            .catch(error => {
                console.log(error)

                // comentar 
                this.fullTotalRows = this.fullItems.length
                this.isBusyFull = !this.isBusyFull
            })
        },
    },
    created() {
        this.setClientsOptions()

        this.getSmallHistoryTableData()
        this.getFullHistoryTableData()
    } 
}
</script>

